[2017-11-24 16:16] buddybuild[bot] opened #209 "1.3 - Assess module, Weird behavior"
Not sure what is happening here. There is no + sign and it is not showing up the active survey I had opened (KE HNQIS HIV). I have got here from:
- Plan module, + sign on KE HNQIS HIV,
- Assess module, backward arrow from the open KE HNQIS HIV assessment.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/3644bbcd-3f0d-4c64-9e

[2017-11-24 16:16] buddybuild[bot] opened #210 "New scoring ranges"
Be aware that we were waiting for 1.3 in order to update the new scoring system. See #185 .

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/9fba6237-b17f-4a67-8c87-cbdd9f5aaff2.jpg)

| Item | Value |
| --- | --- |
| Created | Fri Nov 24 2017 16:16:13 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type |

[2017-11-25 08:20] buddybuild[bot] opened #211 "1.3 - Plan, How to start an assessment when I select a OU from the OU filter?"
When I select an OU from the OU filter in Plan, I can't start an assessment from there. I can only reschedule the date of the assessment. Why? In case users have many OUs assigned, looking for an OU and being able to start an assessment from there is key.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/a4447efe-435b-4609-8b

[2017-11-25 08:21] buddybuild[bot] opened #212 "Planning: OU selected: context menu and rescheduling"
The Reschedule button doesn't do anything. Are users supposed to click on Reschedule? If not, consider removing it or moving the blue calendar closer to Reschedule?

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/44f90d50-bd0b-4f28-9a9a-68715789f6b3.jpg)

| Item | Value |
| --- | --- |
| Created | Sat Nov 25 2017 08:21:18 G

[2017-11-25 15:56] buddybuild[bot] opened #213 "Plan, context menu: Change label 'Add' to 'Start survey'"
In the 3 vertical dot menu from each row, I think  'Add' is a bit confusing. Suggest having Start assessment / Start survey.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/acee0ac7-4dc8-4787-b7fb-0ad159b25f52.jpg)

| Item | Value |
| --- | --- |
| Created | Sat Nov 25 2017 15:56:35 GMT+0000 (UTC) |
| App uptime | undefined

[2017-11-25 15:59] buddybuild[bot] opened #214 "Assess: Navigation arrows for sections and back to main assess menu"
At the top of the assessment, the backward arrow to exit the assessment is too close to the left arrow to navigate across multiple tabs.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/6d40a3bb-ac3d-4d61-9477-f32112c40a5a.jpg)

| Item | Value |
| --- | --- |
| Created | Sat Nov 25 2017 15:59:53 GMT+0000 (UTC) |
| App uptime

[2017-11-25 16:02] buddybuild[bot] opened #215 "Improve, Collapsed view as starting point?"
This functionality is very nice! I want Linda and Janet to comment on whether it's better to start the Improve module from a collapsed view and offer users the possibility to expand sections and sub-sections according to the scores.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/982902e8-527e-4093-ac48-44115fd736d5.jpg)

|

[2017-11-25 16:02] buddybuild[bot] opened #216 "Improve, Make the font of the overall QoC score larger"
Suggest increasing the font of the overall QoC score to a larger size or at least as large as the other scores from sections and sub-sections.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/35eaca75-4764-4064-8522-433a803f803f.jpg)

| Item | Value |
| --- | --- |
| Created | Sat Nov 25 2017 16:02:46 GMT+0000 (UTC) |
| App

[2017-11-25 16:05] buddybuild[bot] opened #217 "Improve, move the Complete and Share buttons"
When users type the Gaps and Action Plan, the keyboard is showing on the tablet screen and hides the Complete and Share button. There is a lot of space between the end of the Action Plan and the Complete and Share button. Do you think it's possible to move the Complete and Share buttons above the keyboard or at least right at the end of the second drop-down menu? This way users don't have to hide

[2017-11-25 16:07] buddybuild[bot] opened #218 "1.3 - Improve, Blank page when I go back to the Improve module from sharing an assessment in formatted text"
Not sure why is that: I get a blank page when I go back to the Improve module from sharing an assessment in formatted text.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/97788e09-21b6-4573-a717-082389345977.jpg)

| Item | Value |
| --- | --- |
| Created | Sat Nov 25 2017 16:07:19 GMT+0000 (UTC) |
| App uptime | undefined

[2017-11-25 16:08] buddybuild[bot] opened #219 "1.3 - Monitor, First graph to remove or make it customizable?"
I thought we wanted to remove the first graph in the Monitor module (maybe I'm wrong - please, check the tech spec document). It doesn't make sense to offer this unless users can set their own target for # of assessments per month. And we know that they don't have a monthly target, so suggest removing.
And the question is: what to show here, then? Can we have the filters automatically populated wi

[2017-11-25 16:13] buddybuild[bot] opened #220 "This is now 100% compkete but the wheel diesnt look like it is"
Feedback from clussiana@psi.org : This is now 100% compkete but the wheel diesnt look like it is

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/03569c9d-aa2a-43c3-bb10-9c470b975786.jpg)

| Item | Value |
| --- | --- |
| Created | Sat Nov 25 2017 16:13:24 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device t

[2017-11-25 16:13] buddybuild[bot] opened #221 "Assess, Check completion wheel from the landing page of Assess"
Unclear completion wheels. They work fine in the pop-up box from the 3 vertical dot (see below), but they don't work fine in the landing page of Assess

![screenshot_2017-11-25-18-11-41](https://user-images.githubusercontent.com/12784825/33232443-772dfb8c-d217-11e7-978f-8df7530dfdd9.png)

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e9

[2017-11-27 08:00] ifoche commented on #210
sorry @cristinaelle we didn't implement that change. Just for the record, this issue would represent changing the score classes into the following ones:
- Class A - green: >= 90%
- Class B - yellow: 80% >= and <= 89%
- Class C - red: <80%

[2017-11-27 08:05] cristinaelle commented on #210
Correct! Thanks!

[2017-11-27 08:07] ifoche commented on #211
@cristinaelle by design, this was like that in HNQIS. When you filter by OU in planning module you go to "reschedule screen" centered on that OU. This was already like that in 1.2.8. Maybe that designed behavior is not what users would find more intuitive and must be re-designed?

[2017-11-27 08:08] cristinaelle commented on #211
I want Linda and Janet to weigh in here. Will come back to you on this.

[2017-11-27 08:12] ifoche commented on #221
That looks like a bug. Both should look the same. Could you please export your DB to me so we can import it and look at it? Thanks!

[2017-11-27 08:14] ifoche commented on #216
Hi @cristinaelle. Is the size the problem here or the contrast with the background color?

[2017-11-27 08:43] cristinaelle commented on #216
I think you are using two different text sizes here: the size of the scores from sections and sub-sections is larger than the size of the overall QoC score.

[2017-11-27 08:55] cristinaelle commented on #221
here. thank YOU!

[compressedData.zip](https://github.com/EyeSeeTea/QAApp/files/1505162/compressedData.zip)

[2017-11-27 08:55] ifoche commented on #217
@cristinaelle. It's possible, yes. The point on those buttons is that they're floating buttons. That have pros & cons. The best of having a floating button like that is that it's always in the same place no matter what screen size you have and always accessible. The bad point is things like what you said. So if you had a small screen, moving the floating buttons to under the action plan may cause

[2017-11-27 08:57] cristinaelle commented on #219
Disregard this issue.

[2017-11-27 08:57] #219 closed

[2017-11-27 08:59] ifoche commented on #218
I think this is a duplicate of #209. Looks like the screens are showing blank when a bug occurs, and it doesn't matter which screen you're in, you'll get a blank one.

[2017-11-27 08:59] #218 closed

[2017-11-27 09:00] ifoche commented on #212
Sorry @cristinaelle that is, in fact, a title, the reschedule button is the one in the middle with the appearance of a calendar. Can you confirm it works?

[2017-11-27 09:04] cristinaelle opened #222 "Monitor, OU filter"
I go to Monitor and select an OU (_survey filter: all assessed_, _OU filter: _Test KE_): HNQIS shows all the surveys conducted at that OU by Health Area (nice!!!!). Some of them are the AVG of multiple surveys (i.e. TB). I click on the asterisk, it shows the list of scores and dates (nice!!!!). I click on one of them and it opens the Improve module of the survey I have selected (nice!!!!). I go ba

[2017-11-27 09:05] ifoche commented on #220
That looks like a bug. The completion chart should show and update constantly while answering the questions. Is this happening in a read-only survey or in a new one?

[2017-11-27 09:07] cristinaelle commented on #217
Ok, got you. What you suggest as a way-forward? I prefer having users to scroll down on a small screen until the Complete and Share buttons than risking to lose those because hidden by the keyboard.

[2017-11-27 09:10] cristinaelle commented on #220
Mh, not sure what you mean by a read-only survey for the Assess module. This is happening on a new survey and it also happens when I go back to an active survey I haven't marked as complete yet. Does this help?

[2017-11-27 09:12] ifoche commented on #222
@cristinaelle we could do it, but just for you to assess the priority of that, it's not a minor change. Back buttons are currently taking you to improve if you come from a feedback, or taking you to assess if you come from a survey. What you describe looks like keeping what in Android is commonly named as the Back Stack, so pushing the screens in a stack and taking the user to the last screen when

[2017-11-27 09:16] ifoche commented on #216
oh, I see, I was centering my comment on the screenshot. You're right

[2017-11-27 09:22] ifoche commented on #220
Sure, it helps. Forget about my question, the feature for accessing a survey as read-only is something that is no longer present in the app so it can only be read-write mode. Can you also export the DB for this case? (if it's the same DB as in previous issues, it's not necessary)

[2017-11-27 09:26] cristinaelle commented on #212
The blue button works perfectly, yes! I just wonder why we want to have the title 'Reschedule' here. I think this part of the Plan module is a bit confusing: there are 3 actions from the this screen:
- Select survey / all surveys,
- Blue calendar to reschedule,
- 3 vertical dots below 'Reschedule' that actually don't take the user to reschedule any survey because they offer the possibility to see

[2017-11-27 09:44] ifoche commented on #212
Looks like it has to do with the design of the screen, so I let @rodmelia to weigh in here. IMO, your suggestions sound quite reasonable. The only one that I would see a bit different is offering all the options from the calendar button. That button is a shortcut to reschedule that applies to all selected rows. The "See schedule history" option cannot be applied to multiple rows at once. Anyway, @

[2017-11-27 09:44] cristinaelle commented on #220
Yes, same DB as the previous one, tks!

[2017-11-27 09:58] cristinaelle commented on #212
Yes - this could work as well:
- Blue calendar: reschuedule, cancel,
- 3 vertical dots: reschedule, See schedule history, cancel.

[2017-11-27 10:00] ifoche commented on #209
@cristinaelle actually we cannot reproduce this bug. Do you have any consistent way to replicate it?

[2017-11-27 11:11] cristinaelle commented on #209
I cannot replicate it anymore.

[2017-11-27 11:11] #209 closed

[2017-11-27 11:14] cristinaelle commented on #208
This applies to all 4 Modules. Tks!

[2017-11-27 11:17] buddybuild[bot] opened #223 "1.3 - Assess <-> Improve weird behaviors"
From Assess to Improve:
I open a new survey from Assess, start answering a couple of critical steps, then go to Improve. HNQIS asks me if I want to mark the survey as complete or continue later, I click Continue later, it takes me to Improve and then it crashes and opens the Settings menu. When I go back to Improve, the screen is empty.

From Improve to Assess:
I open a survey from Improve, then g

[2017-11-27 11:17] buddybuild[bot] opened #224 "clussiana@psi.org on build #66"
Feedback from clussiana@psi.org :

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/3adf1bd7-5e13-4ca0-bc66-91713da4cc06.jpg)

| Item | Value |
| --- | --- |
| Created | Mon Nov 27 2017 11:17:33 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type | SM-T531 |
| Device name | undefined |
| Screen size | 800

[2017-11-27 11:22] buddybuild[bot] opened #225 "clussiana@psi.org on build #66"
Feedback from clussiana@psi.org :

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/603c3a9d-8618-4c8f-a7b2-f127f9f6271e.jpg)

| Item | Value |
| --- | --- |
| Created | Mon Nov 27 2017 11:22:20 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type | SM-T531 |
| Device name | undefined |
| Screen size | 800

[2017-11-27 11:23] buddybuild[bot] opened #226 "Monitor doesn't show proper chart when all assessment & all ou is selected"
Can you check the consistency among Surveys & OU filters across the modules? It seems that there are weird behaviors like the one here below when I move from a module to another one in case I have a module still open / not finalized an action (i.e. Assess module still active, Improve module in a feedback or Monitor module with a OU selected).

![screenshot](https://s3-us-west-2.amazonaws.com/buddy

[2017-11-27 11:28] #224 closed

[2017-11-27 11:29] #225 closed

[2017-11-27 11:37] buddybuild[bot] opened #227 "Improve, Blank page after sharing Action Plan"
This is what I get when I share the Action Plan - When I go to other modules and then back to the Improve module, the page is still blank. The only way I have to get back the Improve module is close/open the app.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/b4d34c67-99f7-4bfc-b933-667dddc097ea.jpg)

| Item | Value |
| --

[2017-11-27 11:50] buddybuild[bot] opened #228 "clussiana@psi.org on build #66"
Feedback from clussiana@psi.org :

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/4de572a3-56ef-4dc0-a7cd-a467b9fe9cdf.jpg)

| Item | Value |
| --- | --- |
| Created | Mon Nov 27 2017 11:50:22 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type | SM-T531 |
| Device name | undefined |
| Screen size | 800

[2017-11-27 12:06] cristinaelle commented on #223
On the same issue: I start a new survey on let's say, Hypertension on _Test KE from the Assess module. I answer a couple of questions, leave it open and then move to the Improve module. HNQIS shows the score from the last feedback for Hypertension on _Test KE (nice!). I click on the backward blue arrow in the Improve module and I select another Health Area (let's say I want to see how that provide

[2017-11-29 08:31] lindasato commented on #206
Hi @ifoche , The Date of next assessment is now displaying in the Action Plan and in the summary shared. However, these dates are not being correctly calculated based on QoC and productivity. They also do not match the dates in Plan Module which are appearing correctly.

[2017-11-29 08:53] cristinaelle opened #229 "Improve module, Action Plan: incorrect calculation of dates of next assessment"
Janet is in Malawi for an End-User Training and she has found that the app Incorrectly calculates the dates of the next visit. See sshots attached. It should be: 6 months if above 80%, 4 months if between 50 and 79% and 2 months if below 50%.

Linda reported this issue on #206: just to add that the Plan module is correctly calculating the dates of next assessment, but the Improve module (Action Pl

[2017-11-29 10:22] lindasato commented on #193
@ifoche , I would like to revisit this. The duplication is still happening in Plan Module. It seems to occur with MW HNQIS only. Today it Duplicated Hypertension once I completed the assessment. And it increases the number of assessments. I had a total of 16, health areas, after it duplicated then the total is 17

[2017-11-29 10:27] cristinaelle commented on #193
@ifoche and @purdych1 : please, prioritize this bug because this should be fixed before MW starts using the 1.2.8 officially otherwise they will end up with multiple assessments. This is unique to the MW app. Not sure if the bug is app- or server- side.

thanks.

[2017-12-01 14:46] rodmelia commented on #223
Cristina says: 'HNQIS asks me if I want to mark the survey as complete or continue later, I click Continue later, it takes me to Improve' --> this is wrong, the app should take you to the list of assessments. Let's no worry about the crashing, because the user ends up in an 'illegal' place: incomplete assessment in feedback mode.

For the second issue, we need to review: the HT surveys should be s

[2017-12-01 14:52] rodmelia commented on #226
Monitoring with All OU and All Health Areas is not a valid combination - monitoring module ALWAYS needs to have either one OU selected or one Health Area selected.
Try to reset to
1. Last working OU
2. Last working Health Area
3. If above fails, select First OU, All Health Areas

[2017-12-07 09:26] cristinaelle opened #230 "Assess, Submission text box from the % Completion wheel"
Edit the text box: "Are you sure you want to mark this survey as complete? etc..."

![screen shot 2017-12-07 at 12 24 46 pm](https://user-images.githubusercontent.com/12784825/33707827-cb66126c-db49-11e7-9152-c80fbb69a344.jpg)

[2017-12-07 09:42] cristinaelle opened #231 "1.3 - Features missing from tech specs docs"
Reference docs:
- [Tech specs](https://docs.google.com/document/d/1YXHkMosYsREGN23kB0nq-p3X-x4J0cyrlvZKKObA1OU/edit#heading=h.csfrk6dqp7oa)
- [Estimation](https://docs.google.com/document/d/1SaXHbxCAWRtMo95PN8pJYNwhcr8t9tinw-ZXJkyVFTc/edit)

From Tech specs doc:

- C4 Start new survey with past Obs & Action Plan: it might have been dropped and that's fine
- C5 Critical steps missed: it might have

[2017-12-07 09:52] cristinaelle opened #232 "1.3 - Assess, % Completion wheel from the Assess landing page"
I am in the Assess module, landing page that shows my active surveys. I have a survey which is 100% complete and not marked as completed yet. When I click on the % Completion wheel, the green circle becomes larger but then nothing happens. What is the intended behavior here?

When users tap on the % Completion wheel from the landing page of Assess:
- Suggest reporting the % of overall and compulso

[2017-12-11 09:36] cristinaelle opened #233 "1.3 - Improve, Include date of assessment into the Gaps & Action Plan shared via simple text and formatted text"
This is the email I have got when sharing Gaps and Action Plan via simple text. Please, include the date of the current assessment at the top (similar to what we have in the url).

________
HNQIS

Results supervision on: __Test KE/KE HNQIS IMCI

Quality of Care (QoC) Score: 66.66667

Next: 07-06-2018

Gaps: test

Action plan: test cl

Action: Refresher training during SSV
Practice proper insertion

[2017-12-12 07:57] cristinaelle commented on #211
Ok - This is a MUST. Users should be able to go directly into the Assess module from here when they select an OU.

[2017-12-12 07:59] cristinaelle commented on #215
Please, have the Improve module to open in collapsed mode, so that users can open sections and sub-sections based on the scores.

[2017-12-12 08:00] cristinaelle opened #234 "Improve, feedback: - Indent feedback content"
Please, use different colors for the background of Questions and Feedback scripts. Maybe a different shade of grey? This will help users to distinguish between Questions and Feedback scripts more easily.

[2017-12-12 09:29] lindasato opened #235 "Assess, Overall Percentage in % Complete doesn't get to 100%"
On the Assess module, the % complete wheel that appears when the 3 vertical dots on the extreme right is tapped---the Mandatory percentage is accurate, however, the percentage for the overall doesn't seem to get to 100% despite answering all questions in the checklist. I have double checked and tried on different assessments but it still does not get to 100%
![percent complete](https://user-images

[2017-12-12 11:50] lindasato opened #236 "Improve - DE using "<" on their form name not rendering"
Questions with the "less than sign (<) are not displaying in Improve module. The lines are blank.
![improve-blank rows](https://user-images.githubusercontent.com/26415203/33883144-bca0ed6e-df4b-11e7-956c-e39e7d87c90f.jpg)

[2017-12-12 12:58] lindasato commented on #226
Still on Health Area/OU filter- in plan module this is behaving weird. When selecting OU or Health Area, at times the screen freezes as shown below and remains on the screen even when I move to Assess module by tappin
![plan-filter](https://user-images.githubusercontent.com/26415203/33885770-57db956e-df55-11e7-9747-d62cf414f949.jpg)
g the Assess Icon at the bottom

[2017-12-12 13:18] lindasato opened #237 "1.3 - Settings, Unable to change Font Size"
The "Font Size" option in settings is grey and inactive-it is not possible to click on it.

[2017-12-12 13:36] buddybuild[bot] opened #238 "1.3 - Monitor, Text get cut in drop-down menus"
When using a regular tablet (mine is larger than the one users have), the text for the drop-down menus get cut.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/0aeb0902-c08b-4a1b-94b4-4b6940f0b125.jpg)

| Item | Value |
| --- | --- |
| Created | Tue Dec 12 2017 13:36:49 GMT+0000 (UTC) |
| App uptime | undefined |
| Build |

[2017-12-12 13:39] lindasato opened #239 "1.3 - Improve, No Images and Videos"
The images and videos in the same checklists in 1.2.8 are not in 1.3
![improve-images and videos](https://user-images.githubusercontent.com/26415203/33886816-de50db9c-df58-11e7-9f1e-17d20c81f80d.jpg)

[2017-12-12 13:40] #237 closed

[2017-12-12 13:41] lindasato commented on #237
Please ignore this, Omission on my part. I have closed this issue

[2017-12-13 13:30] cristinaelle commented on #211
I am closing this as per conversation to #212.

[2017-12-13 13:30] #211 closed

[2017-12-13 13:36] rodmelia commented on #212
On review, the team would like to add 2 more options to the individual context menu of each survey, plus relocate the position of the 'mass re-scheduling' button - see mockups below.
![Planning - OU selected - Reschedule.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46d8989b2d8c8aa788a9f2038b68b0872c4a22703d01a76b3dc5d12da

[2017-12-13 13:58] cristinaelle commented on #232
Dropping this because we are removing the completion wheel from the landing page of Assess.

[2017-12-13 13:58] rodmelia opened #240 "Assess, Listing screen content"

[2017-12-13 14:00] rodmelia commented on #240
We will be removing the wheel from the listing page, and replacing it with the actual percentages - see below

![1.3 Assess - listing.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46b9dac963a390ba8afaac03e91dfc9d3a522e7d2e46ef696097ec22ba416f43554d4baa135c5f42afff8978afb43c74895c0bedd3645c77ce6e03b0aac04ee155e57dd205d0f4ae

[2017-12-13 14:03] cristinaelle opened #241 "Assess, Context pop-up"
In case the % of mandatory questions is not 100%, users shouldn't be able to mark this as complete, so this option should be greyed out.

![screen shot 2017-12-13 at 5 01 43 pm](https://user-images.githubusercontent.com/12784825/33942579-748e8a7c-e027-11e7-8749-47c5bc9c2878.jpg)

[2017-12-13 14:15] rodmelia commented on #220
1. Could we please increase the size of the completion wheel on this view?
2. The wheel components can be moved !! please lock it !
3. Also, when you click on the wheel, it expands - can we disable that? (reported by C.R.)
please also see 232

[2017-12-13 14:15] buddybuild[bot] opened #242 "1.3 Assess: Wheel size expands on click"
Feedback from bruli@psi.org :

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/50c74390-1952-44d8-a442-2cf72ff668ed.jpg)

| Item | Value |
| --- | --- |
| Created | Wed Dec 13 2017 14:15:13 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type | SM-T580 |
| Device name | undefined |
| Screen size | 1200 |

[2017-12-13 14:17] #232 closed

[2017-12-13 14:30] rodmelia commented on #214
1. Please relocate 'back arrow' to main assess menu
2. Please relocate 'previous tab' arrow (see mockup below)
![Assess: Tab navigation arrows.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c98789269190f3cfddbe41e453f18220412667200bad6b7197f127a851394d4d1f0cf31b0d0c00eef39b2ea0e438708c0f0ded82645d74c23e11acb88016bc02b2739

[2017-12-13 14:48] rodmelia commented on #230
Rather than modifying the submit text box, we want to re-use the popup that we have on the listing screen, so we can show the wheel full size - see below (the logic for 'mark complete' of only being enabled when mandatory is 100%, as well as the confirmation pop-up should be the same as on the listing screen)
[Uploading Assess: Clicking on the wheel.png...]

[2017-12-13 14:51] rodmelia commented on #230
uploading the pict again (having permission problems)
![Assess: Clicking on the wheel.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c98789269190f3cfcab34aa756f99a2e06287d6910ab2e3092eb2dba4e394d4d1f0cf31b0d0c00eef39b2ea0e438708c0f0ded82645d74c23e11acb88016bc02b273995397f4edd4189fb5646fb2c99d452c1f0c1288fa5c36a19e4dce59f5

[2017-12-13 14:51] rodmelia commented on #230
Please notice that the text is not final ! Cristina will give us final copy later.

[2017-12-13 14:56] cristinaelle commented on #210
Correct Classes:
Class A - green: >= 90%
Class B - yellow: 80% >= and < 90%
Class C - red: <80%

[2017-12-13 15:17] rodmelia commented on #206
Feedback below is only for plain text - we have not been able to get rich text working

Revise text for Plain Text

Subject:
Results supervision on Test facility 2/ Family Planning on 24/12/2017

Body:
HNQIS - Results supervision on  Test facility 2/ Family Planning
DATE OF ASSESSMENT: 24/12/2017
QUALITY OF CARE (QoC) SCORE: 77 % (no decimals)
NEXT ASSESSMENT: 24/2/2018

GAPS:
<display the text>

[2017-12-13 15:22] cristinaelle commented on #233
Closing this because it is a duplicate of #206 .

[2017-12-13 15:22] #233 closed

[2017-12-13 15:40] buddybuild[bot] opened #243 "Monitor: chart renders small size"
Feedback from rmelia@knowming.com : Monitor: chart renders small size

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/9e74b027-7b70-4ece-a904-249ce26ca62f.jpg)

| Item | Value |
| --- | --- |
| Created | Wed Dec 13 2017 15:40:48 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type | SM-T230 |
| Device na

[2017-12-13 15:47] buddybuild[bot] opened #244 "Monitoring: Please base the chart on the same time period as the table below"
Feedback from rmelia@knowming.com : Please base the chart on the same time period as the table below

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/47522e2f-5e60-4842-ace9-2c8c51c7baf2.jpg)

| Item | Value |
| --- | --- |
| Created | Wed Dec 13 2017 15:47:01 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Devi

[2017-12-13 15:53] cristinaelle commented on #238
No need to address this.

[2017-12-13 15:53] #238 closed

[2017-12-13 15:57] rodmelia commented on #222
I think that what Cristina is asking is just to preserve the last selection of the filter (in this case from monitoring) - the filtering doesn't change  when you open the action plan

[2017-12-14 08:37] rodmelia commented on #244
Hola

[2017-12-14 09:00] ifoche commented on #244
pie chart is getting all the assessments while the table is only taking into account the last 6 months. We need to use 6 months for the pie chart

[2017-12-14 09:06] ifoche commented on #222
Just for the record. This change is only avoid the application of the filter before moving from monitoring to improve module when a bubble is clicked

[2017-12-14 09:08] ifoche commented on #243
This looks like happening only in 4.4

[2017-12-14 09:23] ifoche commented on #228
It may be a duplicate of #244

[2017-12-14 09:25] rodmelia commented on #4
I think it is time to close this one...

[2017-12-14 09:25] #4 closed

[2017-12-14 09:39] rodmelia opened #245 "Wheel: visual improvements"

[2017-12-14 09:41] rodmelia commented on #245
1. Disable wheel turning
2. Disable wheel expansion
3. Better location of wheel legend
![a better wheel.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46e9d498269697ac9da9a84ba158fcd665043761260ea62864c7b96aea1479555f591daa410b5646fcfd8a2ba6b63e79895f03bec3714d36976345f3e5db55ea43a82a994e82bcbd8f4dc3ea3921e3838e4938191755.p

[2017-12-14 09:43] ifoche commented on #242
Duplicate of #245

[2017-12-14 09:43] #242 closed

[2017-12-14 09:52] ifoche commented on #235
Can we have a DB from this situation?

[2017-12-14 09:53] ifoche commented on #235
@lindasato @cristinaelle just mentioning you to be sure that you receive this as an email

[2017-12-14 09:59] ifoche commented on #220
Looks like a duplicate of #221

[2017-12-14 10:05] ifoche commented on #214
Just for the record, floating back button must be inline, so no longer a floating button, and we must provide more room for the tab navigation button

[2017-12-14 10:08] rodmelia commented on #100
Closing old issue

[2017-12-14 10:09] rodmelia commented on #10
Closing old issue

[2017-12-14 10:09] #10 closed

[2017-12-14 10:09] rodmelia commented on #90
Closing old issue

[2017-12-14 10:09] #90 closed

[2017-12-14 10:27] rodmelia commented on #205
1. Disable rich HTML
2. Investigate how to properly implement Rich Text for the future

[2017-12-14 10:40] ifoche commented on #206
Just for the record, the modications are:
1) No subject
2) Changes in the format just by lowcase uppercase the different words
3) Include the critical step missed
4) Change in the URL by adding Id to event and also including the server from preferences

[2017-12-14 10:42] rodmelia commented on #206
Option 1: Long text - what we have
Option 2: Short Text
HNQIS - Results supervision on Test facility 2/ Family Planning on 24/12/2017

See full assessment at https:/...

[2017-12-14 10:46] ifoche commented on #229
Duplicate of #210

[2017-12-14 10:50] cristinaelle commented on #100
Reopening this because in 1.3, it is still showing 'Subnational level X'.

[2017-12-14 10:53] cristinaelle commented on #229
Don't think it's a duplicate of #210. Shall we reopen this?

[2017-12-14 11:01] lindasato commented on #235
@ifoche I had exported the db to you yesterday on nacho@eyeseetea.com, just resent it again and attached it here. Let me know if this is okay now.
[compressedData.zip](https://github.com/EyeSeeTea/QAApp/files/1558909/compressedData.zip)

[2017-12-14 14:55] ifoche commented on #229
@cristinaelle I think you're right. I quickly assumed it was a matter of old scoring vs new scoring, but reading more carefully you're completely right. Sorry for the mistake. Do we have a DB for this situation?

[2017-12-14 14:57] ifoche commented on #206
example of URL here:
https://apps.psi-mis.org/hnqis/feedback?eventId=QpYVIUm5EHo&server=https://clone.psi-mis.org

[2017-12-14 16:51] cristinaelle commented on #206
Thanks, Ignacio. I think that RM and I mean to modify the content of the 'Simple text', too, based on what RM has shared in his comment.

[2017-12-14 16:56] cristinaelle commented on #229
here: [compressedData.zip](https://github.com/EyeSeeTea/QAApp/files/1560108/compressedData.zip)

tks!

[2017-12-15 07:51] buddybuild[bot] opened #246 "clussiana@psi.org on build #66"
Feedback from clussiana@psi.org :

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/b554191c-a241-43d6-884b-b5e4f0107c16.jpg)

| Item | Value |
| --- | --- |
| Created | Fri Dec 15 2017 07:51:28 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type | SM-T531 |
| Device name | undefined |
| Screen size | 800

[2017-12-15 07:54] cristinaelle commented on #246
Closing this - see #100

[2017-12-15 07:54] #246 closed

[2017-12-15 07:55] rodmelia commented on #100
Below what I get using the demo mode. It looks like the top label is being generated based on server OU Level labels. We want this to become a PO editor term, initially set to 'Health Facility'

![Screen Shot 2017-12-15 at 08.53.20.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c57e0b76216455f6

[2017-12-15 07:56] cristinaelle commented on #100
See picture below: I have "Subnational level 2" and the full DHIS2 Program name for survey ("KE HNQIS IMCI"), while Rodolfo when he tests on the demo server has 'Organization Units' and a short name for the Program names ("HIV" / "IMCI"). Please, replace "Organization Units" with "Health Facility".
![68747470733a2f2f73332d75732d776573742d322e616d617a6f6e6177732e636f6d2f62756464796275696c642d736372

[2017-12-15 07:56] #151 closed

[2017-12-15 07:59] rodmelia commented on #239
Server: data.psi-mis.org
User: KEdemo1 / pw: Kenyademo1

[2017-12-15 08:01] rodmelia commented on #236
Server: data.psi-mis.org
User: KEdemo1 / pw: Kenyademo1

[2017-12-15 08:09] rodmelia commented on #234
We will like to indent the feedback content - see sample below
![HNQIS - Indent feedback content.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c0baab0ab1c3e4cfc0b147a153e4d42f4322772b05a0203086ec26ab4775154d435cec03070511afbd9b21b4b33a228e5c0dbed76d0c7dc43d15afb8821fbd08b923831c97aaaec81d9ebc6278bec1da0d2c14171980f55c30a

[2017-12-15 08:18] rodmelia commented on #215
The collapsed view means showing ALL compositive score levels, no questions. Example of a survey with 4 sublevels.

1
1.1
1.1.1
1.1.1.1
1.1.1.2
1.1.2
1.1.2.1
2
2.1
2.2
3
3.1

[2017-12-15 08:24] rodmelia commented on #217
please consider the revised layout below
![HNQIS - relocation of share button.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c0baab0ab1c3e4cffbba4fab5ef180204929332602e3387884f12dff406e151b0010be5d4a1f06a3a3dc78e2a436628f5a59e9d16b0c72c66e18aeb8861cbf01ba22824c86beef9850d2aa6c7bb3d4d216744b470a83ed5f35aa984ec95bf549e74f56

[2017-12-15 08:34] rodmelia commented on #227
for me (4.4) the application re-starts...

[2017-12-15 08:50] cristinaelle opened #247 "Replace everywhere the word 'Assessment' with 'Survey'"
Please, replace everywhere the word 'Assessment' with 'Survey'. This applies to all filters (currently: All assessed -> All surveys (see #208), Monitor module: "more than one assessment exists..." -> "More than one survey exists on the same month".

[2017-12-15 08:52] rodmelia commented on #201
Updated specs are in #206 - closing this one (URL details in this card are incorrect)

[2017-12-15 08:52] #201 closed

[2017-12-15 08:55] rodmelia commented on #202
Cristina - let's test this in data, using v1.3

[2017-12-15 09:00] rodmelia commented on #196
I agree that extending to 12 months is a very simple change that will address most of the cases.

[2017-12-15 09:02] cristinaelle commented on #193
@lindasato : can you share the db for this one, please?

[2017-12-15 09:03] cristinaelle commented on #189
Closing this because it has been fixed server-side.

[2017-12-15 09:03] #189 closed

[2017-12-15 09:08] #132 closed

[2017-12-15 09:09] #134 closed

[2017-12-15 09:09] #136 closed

[2017-12-15 09:11] cristinaelle commented on #185
Closing because it's a duplication of #210 .

[2017-12-15 09:11] #185 closed

[2017-12-15 09:12] #192 closed

[2017-12-15 09:14] cristinaelle commented on #186
Linda saying this is not an issue anymore. Closing this.

[2017-12-15 09:14] #186 closed

[2017-12-15 09:15] rodmelia commented on #149
Old card - closing

[2017-12-15 09:15] cristinaelle commented on #22
Irrelevant in 1.3.

[2017-12-15 09:15] #22 closed

[2017-12-15 09:15] #149 closed

[2017-12-15 09:15] cristinaelle commented on #38
This has been done - we have a Demo feature of HNQIS with no need to log-in.

[2017-12-15 09:15] #38 closed

[2017-12-15 09:16] rodmelia commented on #148
old version - closing outdated card

[2017-12-15 09:16] #148 closed

[2017-12-15 09:16] cristinaelle commented on #39
Closing because this has been done for 1.3.

[2017-12-15 09:16] #39 closed

[2017-12-15 09:17] rodmelia commented on #87
old idea - not longer valid

[2017-12-15 09:17] #87 closed

[2017-12-15 09:18] rodmelia commented on #85
old idea, incomplete, closing.

[2017-12-15 09:18] #85 closed

[2017-12-15 09:19] cristinaelle commented on #42
Closing this because with the new features of 1.3, the order is the completion date.

[2017-12-15 09:19] #42 closed

[2017-12-15 09:20] cristinaelle commented on #118
Fixed.

[2017-12-15 09:20] #118 closed

[2017-12-15 09:20] rodmelia commented on #77
outdated discussion. v1.3 has new filters that address this issue

[2017-12-15 09:20] #77 closed

[2017-12-15 09:21] cristinaelle commented on #146
It works on 1.3.

[2017-12-15 09:21] #146 closed

[2017-12-15 09:22] #111 closed

[2017-12-15 09:25] cristinaelle commented on #99
Fixed.

[2017-12-15 09:25] #99 closed

[2017-12-15 09:26] cristinaelle commented on #48
This has been fixed.

[2017-12-15 09:26] #48 closed

[2017-12-15 09:29] cristinaelle commented on #49
Yes - Filters for both OUs and Surveys have been included in 1.3. Closing this.

[2017-12-15 09:29] #49 closed

[2017-12-15 09:32] #62 closed

[2017-12-15 09:32] rodmelia commented on #110
Ignacio: let's discuss in next review. One option is to remove altogether the Customize font option. Maybe 1.4 ?

[2017-12-15 09:39] #50 closed

[2017-12-15 09:40] #51 closed

[2017-12-15 09:41] cristinaelle commented on #53
This has been address in 1.3. Closing.

[2017-12-15 09:41] #53 closed

[2017-12-15 09:42] cristinaelle commented on #84
This has been fixed - Thanks, closing.

[2017-12-15 09:42] #84 closed

[2017-12-15 09:43] cristinaelle commented on #98
We'll address it when HNQIS will go to the next level! Closing!

[2017-12-15 09:43] #98 closed

[2017-12-15 09:44] cristinaelle commented on #103
Fixed with current filters of 1.3. Closing.

[2017-12-15 09:44] #103 closed

[2017-12-15 09:53] buddybuild[bot] opened #248 "Plan, Make the pencil yellow again!!"
Feedback from clussiana@psi.org : Make it yellow again!!

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-screenshots/56b408ad65c5670100adf4df/5a02be5a468e99000163c8e0/99871bcf-bfe5-49bf-bfda-a2477480952a.jpg)

| Item | Value |
| --- | --- |
| Created | Fri Dec 15 2017 09:53:21 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 66 |
| Device type | SM-T531 |
| Device name | undefine

[2017-12-15 10:01] rodmelia opened #249 "Assess: preserve Filter selection when adding a new survey"
![HNQIS - preserve filter selection when adding new survey.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c0baab0ab1c3e4cff9ad46b758e2822c06217a2510a6393096e624ba416f0800015eeb190d0154adaddd72f8e12c2edf1b1bae942f19218f2f0dbef8c040e554e964994597b3bad848c0ee6e23e7d8864d3e1a061889ff5f3ca39a439b4aea59a31c0bf04c6b3aac23746e4d8

[2017-12-15 10:04] rodmelia opened #250 "Assess (and feedback): controls disappear"
![HNQIS Assess controls disapear.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c0baab0ab1c3889cfaba50b71df39b2752357c2517e32f7996e238ba436943434d0eee1e020a17b8eb8339a3b06e748a5a58ebd13e5676c63912acb8821db602b928d85d99a4fedb1294b7607caddecd5d340c041f83fe5834a39a4fcf59f448e24852b65e.png)

[2017-12-15 10:11] rodmelia opened #251 "Action Plan: add Provider Name as control data element"
![HNQIS - Provider Name.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c0baab0ab1c3e4cfd9ad4cb254f4913b0609722401e1673295f127b54778154d555ca9470a5b44faaa8f2bf5bf3e708e5f0bedd16f5677c53542bea4905dee5fee7fd616cfe3fe9846d2e9342fe68e8e4c3d1d071f89f75b3ca28b06.png)

[2017-12-15 10:21] cristinaelle commented on #231
RM and I have reviewed this list and:
- C4: dropped,
- C5: critical steps have been included in the simple text message (#233 ),
- C7: see #251 ,
- C1: left for the next version of HNQIS (#98 ),
- O5: killed,
- O7b: see #249 ,
- O3, O7 and O8: to address after 1.3. being released.

[2017-12-15 10:34] rodmelia opened #252 "Assess: when to show the + button"

[2017-12-15 10:35] rodmelia commented on #252
![If filters for OU and Survey return 1 suervey, do not ofer 'Add'.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c192da258b8fbd8afbac03a252e2d4067367722700e3186597f52da60269041b1a0cf251594f07b9accb6df3ff2060de031bb38e294f2b906853bcaff34beb16a83c990fc7e9e6df1f84fa3737e28ddd4b3e18561e89ac5437a09d48c858f649e84e56ac40247ff43

[2017-12-15 10:35] rodmelia opened #253 "Assess: relocate Floating + button"
![relocate + buttom.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46fa91962c8182bd8aa9f403a648e480264b653f6b14b1247a80e03cfd183954590d4aac470b5944aff08b2ba2b53c708a5e02eed2650c66da2f53fde6d640e258f075c95d8fa4bd8d46c1ed3c26e4888b4e3b16011d8aed10.png)

[2017-12-15 14:52] ifoche commented on #227
Just for the record. Looks like only happening in Android 4.4, so probably the same problem as in blank fragments bug (#250)

[2017-12-15 15:14] rodmelia commented on #213
![Action - context menu.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c9978e2a8d8de9c2a9bc4caa49f58c3d062a762711e1673295f127b54778154d555ca9470a5b44faaa8f2bf5bf3e708e5f0bedd16f5677c53542bea4905dee5fee7fd616cfe3fe9846d2e9352fe68e8e4c3d1b05108ff95f32a78b06.png)

[2017-12-15 15:19] ifoche commented on #208
duplicate of #247

[2017-12-15 15:19] #208 closed

[2017-12-15 15:20] rodmelia commented on #82
This is being implemented in v1.3 as the completion wheel

[2017-12-15 15:20] #82 closed

[2017-12-15 15:27] ifoche commented on #252
Just for the record:
1) Do not show + button when a survey in progress exists
2) Auto-fill OU and Survey selections from survey creation screen

[2017-12-15 15:28] rodmelia commented on #249
duplicated #252

[2017-12-15 15:28] #249 closed

[2017-12-15 15:36] ifoche commented on #239
@lindasato It looks like the DE doesn't have the video ID in the DE attribute but in the feedback description, and not as the ID alone, but the whole URL. Can you please share that DE configuration?

[2017-12-15 15:43] ifoche commented on #217
Just for the record:
1) Move floating buttons to up-right corner
2) Change the direction that the share buttons are deployed from up to down. But if it's too complicated just use 2 separate buttons

[2017-12-15 15:54] cristinaelle commented on #239
please, assign this to Chris Purdy or Ruly - I am on a phone and can’t tag people.

[2017-12-15 15:54] #239 closed

[2017-12-15 15:56] rodmelia commented on #110
Let's 'hide' the option to change fonts from the app settings. Users can still change font  rom the OS

[2017-12-18 13:11] lindasato commented on #193
@ifoche I am not able to replicate this issue and I am now wondering whether it was related to the server and not the app itself. (it was also specific to Malawi's app only).

[2018-01-11 10:33] cristinaelle commented on #196
Guys - This is becoming more and more critical. Kenya, Nigeria and Cambodia are having issues with this. Rodolfo and I discussed whether it was possible to have this fixed in 1.2.X instead of waiting for 1.3 and I don't know what has been your final decision. Any news, please?

[2018-01-11 13:32] rodmelia commented on #196
Cristina - Ignacio and I will reply to you shortly..

On 11 January 2018 at 11:33, cristinaelle <notifications@github.com> wrote:

[2018-01-29 07:44] #116 closed

[2018-01-29 07:46] cristinaelle commented on #176
Checked in DHIS2 and everything works fine.

[2018-01-29 07:46] #176 closed

[2018-02-02 11:51] rodmelia commented on #203
As reported by Ignacio, the simple implementation, i.e. Android Back button takes you back to the previous screen rather than the planning module, is already implemented for 1.3.0

WE WILL NOT implement the inclusion of a new button on the video UI - this will custom development and it is not justified.

I'm closing this issue.

[2018-02-02 11:51] #203 closed

[2018-02-02 11:52] rodmelia commented on #181
Old issue, no longer relevant (the feature was removed long time ago)

[2018-02-02 11:52] #181 closed

[2018-02-02 11:56] rodmelia commented on #180
Ignacio - please check if 1.3.1 still shows this error.
Testers: please check if the release 1.3.1 still shows this problem. If it does, please send BB screenshot.

[2018-02-02 12:00] rodmelia commented on #182
Moving to ready for Ignacio to check. If the strings are missing, Ignacio please add. If the strings are already in, Ignacio, please move back to testing, with a note.

[2018-02-02 12:02] rodmelia commented on #112
I'm closing this issue: It is 2 years old.

The monitoring module for 1.3 has been revamped. If there are any translations issues, please open a new issue, with the associated screenshot.

[2018-02-02 12:02] #112 closed

[2018-02-02 12:03] rodmelia commented on #170
Generic activity - not enough specifications. Closing issue

[2018-02-02 12:03] #170 closed

[2018-02-02 12:04] rodmelia commented on #153
Old issue - all options are now listing based on the options set order.

[2018-02-02 12:05] #153 closed

[2018-02-02 12:06] rodmelia commented on #152
This was solved many versions ago by the introduction of an animated progress ball

[2018-02-02 12:06] #152 closed

[2018-02-02 12:07] rodmelia commented on #158
Android 6 support was addressed a long time ago.

[2018-02-02 12:07] #158 closed

[2018-02-02 12:07] rodmelia commented on #150
Portuguese translations were added a long time ago.

[2018-02-02 12:07] #150 closed

[2018-02-02 14:47] cristinaelle commented on #180
assigned to Linda to test on 1.3

[2018-02-07 18:58] ifoche commented on #236
we've been unable to reproduce this one neither on android.psi-mis.org nor data.psi-mis.org server. We've used < symbol both in question name and in the feedback but we can see the symbol and no problem at all. For the test on data, we've used KEdemo1 user as suggested. Maybe the "show only failed questions" filter was activated and that's why the question was not showing?

[2018-02-08 08:38] lindasato commented on #236
Hi @ifoche , the "show only failed questions filter" usually collapses the whole line and it should not appear as a blank row. I just remembered that this is an issue that we had reported in the past and it had been fixed. Please see issue number 174 on the closed issues https://github.com/EyeSeeTea/QAApp/issues/174 . I am thinking it may be the same issue. Thanks.

[2018-02-08 09:26] ifoche commented on #236
Makes sense. Thank you @lindasato! Closing it

[2018-02-08 09:35] lindasato commented on #236
Hi Ignacio, I just want to clarify that issue #174 was based on a different bb version (54 i think) and issue #236 is based on bb for 1.3

[2018-02-08 09:47] ifoche commented on #236
Oh, ok. So I change the milestone to 1.3 and re-open it to be checked for the next 1.3 version. Thanks for the clarification

[2018-02-16 11:03] buddybuild[bot] opened #254 "1.2.9: Improve, incorrect calculation of date of next assessment"
Feedback from clussiana@psi.org : Incorrect calculation of date of next assessment. This is related to #255, too.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-feedback/56b408ad65c5670100adf4df/5a86ae61e4770400011b29da/0b3831d5-1348-4732-a572-f8e46f832587.jpg)

| Item | Value |
| --- | --- |
| Created | Fri Feb 16 2018 11:03:38 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 6

[2018-02-16 11:13] buddybuild[bot] opened #255 "1.2.9: Plan, All OU filter not working"
Feedback from clussiana@psi.org: Plan module, All OU filter not working. When I want to go back to All OUs from the Plan module filter, the app doesn't do anything. The only way to go back to the regular view of the Plan module is to close and reopen the app.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-feedback/56b408ad65c5670100adf4df/5a86ae61e4770400011b29da/c87cf22f-6c21-468b-a

[2018-02-16 11:15] buddybuild[bot] opened #256 "1.2.9: Plan, blank screen when selecting an OU"
Feedback from clussiana@psi.org : Blank screen when I select a random OU from the OU filter in the Plan module. Sometimes the screen is blank, other times the app loads surveys.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-feedback/56b408ad65c5670100adf4df/5a86ae61e4770400011b29da/f191c98b-05eb-4fe3-859f-926e765269e3.jpg)

| Item | Value |
| --- | --- |
| Created | Fri Feb 16 2018

[2018-02-16 11:31] buddybuild[bot] opened #257 "1.2.9: Improve, Tick box of only last feedback per Program/OU doesn't keep the Health Area or OU selection"
Feedback from clussiana@psi.org :
Improve module, I select an OU from the OU filter, I remove the tick from 'Show only last feedback for Program/OU' and then the app modifies the OU I had selected and shows assessments from another OU (the OU that was selected before).
The same happens the other way around when I tick 'Show only last feedback for Program/OU' in case the box wasn't ticket yet.

![s

[2018-02-16 12:25] buddybuild[bot] opened #258 "Assessments that have been conducted within last year still appearing in Never Assessed. (HIV, WEA,…"
Feedback from lsato@psi.org : Assessments that have been conducted within last year still appearing in Never Assessed. (HIV, WEA, etc)

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-feedback/56b408ad65c5670100adf4df/5a86ae61e4770400011b29da/f061d587-b848-46bc-b589-052cabec6c56.jpg)

| Item | Value |
| --- | --- |
| Created | Fri Feb 16 2018 12:25:46 GMT+0000 (UTC) |
| App uptime | un

[2018-02-16 15:00] buddybuild[bot] opened #259 "Monitor, 1. part of the dropdown icon is hidden off screen. 2. When clicking the dropdown icon, i…"
Feedback from bruli@psi.org : Monitor, 1. part of the dropdown icon is hidden off screen.

2. When clicking the dropdown icon, i am forced to make a selection, i am unable to deselect and go to another option/page without making a selection.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-feedback/56b408ad65c5670100adf4df/5a86ae61e4770400011b29da/664ded2c-7cbd-482d-a6bc-a18fef2ce765.j

[2018-02-19 08:01] lindasato commented on #259
Just an addition on Chris' comments above "**When clicking the dropdown icon, i am forced to make a selection, i am unable to deselect and go to another option/page without making a selection"**, I also experience the same issue but after moving to another module then back to Monitor module, this problem was not there anymore. Sadly, I was not able to replicate it. I have exported the db to @ifoch

[2018-02-19 08:03] buddybuild[bot] opened #260 "OU drop down menu should have All Org Units option."
Feedback from lsato@psi.org : OU drop down menu should have All Org Units option.

![screenshot](https://s3-us-west-2.amazonaws.com/buddybuild-feedback/56b408ad65c5670100adf4df/5a86ae61e4770400011b29da/2a26d3f0-f835-47d1-913c-46689d13a7f8.jpg)

| Item | Value |
| --- | --- |
| Created | Mon Feb 19 2018 08:03:56 GMT+0000 (UTC) |
| App uptime | undefined |
| Build | 69 |
| Device type | SM-J700F |
|

[2018-02-19 08:16] lindasato commented on #257
A couple of more comments on this:
- it always defaults to the first OU on the list.
- when you also select an OU then move to another module, then back to Improve module, the OU automatically defaults to the first OU on the list, regardless of whether the tick box for "show only last feedback per program/OU" is selected or not

[2018-02-19 08:37] lindasato commented on #260
Just to not that even after selecting a Health area, there is no option for selecting "ALL ORG UNITS"

[2018-02-19 08:56] rodmelia commented on #255
Confirm that I have the same problem: after selecting an OU, you cannot go back to ALL. To replicate:
- clone.psi-mis.org
- UN: KEdemo2
- PW: ----> see separate communication

[2018-02-19 09:01] rodmelia commented on #256
@cristinaelle - I cannot replicate this...

[2018-02-19 09:06] rodmelia commented on #258
@cristinaelle @purdych1  - can you please provide a precise example? I need the screenshot of an event showing in event capture/ report that is 365 days or younger, not being taken into consideration by the app.

[2018-02-19 09:11] rodmelia commented on #259
Hi - this seems like a minor issue, that will not affect the use of the app for the next 2 months. With 1.3 this is completely re-written. Unless someone disagrees, I would like to close this issue, and not report it.

Assigning back to Cristina (cannot assign to Linda or C.R.)

[2018-02-19 09:14] rodmelia commented on #257
I can confirm that it also happens to me.

[2018-02-19 09:27] rodmelia commented on #254
Cristina tells me that the correct date should be 19/3/2018 - so it is off by 2 years.

[2018-02-19 09:29] rodmelia commented on #229
See #254 for new issue

[2018-02-19 09:55] lindasato commented on #258
Hi. We have run through this again and everything is working fine. Turns out there are a number of facilities with the same name which was causing the confusion. Please close this issue. Sorry for the trouble.

[2018-02-19 09:58] ifoche commented on #254
@rodmelia, @cristinaelle do you have a user, server & program to replicate this?

[2018-02-19 12:27] rodmelia commented on #250
I cannot see the filters in the assess module anymore. Details:
- Android 8.1
- After login with KEdemo2 (clone server)
- After starting a demo login

[2018-02-19 15:01] ifoche commented on #260
@lindasato, I think this was intended to be solved in 1.3.

![Screenshot_20180219-154909.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/54e12dad64acc92700d55240/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cc7914762a6455f67f29d5ba6af3006b1300051bff054a5556f9ffdb2fa6b06f768a0f02efd1695c74c63d13a5bb8117ec13a632c91edbe2e3d7158abd7f37ed998e46341f001980ff5837a49942c85

[2018-02-19 15:05] ifoche commented on #257
[This is a video](https://drive.google.com/file/d/1fDpF5TgNn1tfXgxzt65fvheGkWzL7T4P/view?usp=sharing) of this issue happening also in 1.2.8. As a new bug...wouldn't it make sense to afford it for 1.3? Should I update to 1.3 milestone accordingly?

[2018-02-19 15:09] ifoche commented on #255
[This is a video](https://drive.google.com/file/d/1hy1uzf3K1W35H8L-T9fYUSexPccEE7iq/view?usp=sharing) showing the issue already present in 1.2.8. As a new issue, maybe it make sense to afford it for 1.3? Should I update the milestone accordingly?

[2018-02-19 15:11] ifoche commented on #250
@rodmelia assess module didn't have filters in 1.2 version. They were added on 1.3. Please see the screenshot below

![Screenshot (19 Feb 2018 15_56_10).png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/54e12dad64acc92700d55240/125516c66e82c728ace21e0d46db978826878dba87e6ab03ec0ca9d40f4325337b54f27330d4b617ea1444505f465cb053181d1ba6acda6fb4bc2e758c0e0fedd73e5974953413acbc811

[2018-02-20 05:54] lindasato commented on #260
@ifoche , yes please, you can update to 1.3, this is not super urgent.

[2018-02-20 10:28] ifoche commented on #254
@rodmelia, @cristinaelle I've entered with that user and I see something different for that Program/OU. We're taking the _Next_assessment control DE from the server during the pull to determine the next assessment date that you see there...maybe you clicked on a very old survey with that date wrongly calculated and sent to the server? In any case, as you can see in my screenshot I cannot replicate

[2018-02-20 10:28] ifoche commented on #229
See my question in #254 about this

[2018-02-23 12:19] rodmelia commented on #257
As Ignacio pointed out, this is already in 1.2.8.
Marking as an issue for 1.3, so it can be tested on the new app (in reality, for 1.3 the filters are new code, so the bug will not be inherited in 1.3)

[2018-02-23 12:27] rodmelia commented on #255
As per Ignacio's video, this is already present in 1.2.8.
There is an escape route: Select any a specific assessment and All Org Units - you are back to the normal planning screen.

Changing the Milestone to 1.3, so we can check that the new filter mechanisms ensure that you go back to the normal planning screen as soon as you select all Org Units

[2018-02-23 12:30] rodmelia commented on #250
Ignacio tells me that my screenshot is 1.3, and not 1.2. Closing the issue

[2018-02-23 12:30] #250 closed

[2018-02-23 12:40] ifoche commented on #254
Just to provide a bit more explanation on this. 1.2.9 is parsing the control DE _Next Assessment to the next assessment in the DB. This means that if someone does a pull on 1.2.8, then update to 1.2.9 and then looks at the next assessment date it may be wrong. So I think that doing a metadata refresh would solve the issue. @cristinaelle can you confirm that you no longer have this bug if you refre

[2018-02-23 12:42] rodmelia commented on #229
This is a duplicate of #254 - closing

[2018-02-23 18:51] ifoche commented on #230
@cristinaelle, @rodmelia, can we consider that text as definitive?

[2018-02-26 10:41] cristinaelle commented on #258
Hi, can we double check this is 100% correct, please?

clone server, I picked up a random checklist (KE HNQIS IMCI) and for all the facilities highlighted in red in the screenshot attached, we do have assessments in ER, but those are recorded as Never Assessed in the Plan module (a couple of screenshots from the Plan module, too).

@ifoche : can you please check this?

thanks!

![screen shot 2018-

[2018-02-26 10:44] cristinaelle commented on #258
Same for KE HNQIS TB:

![screen shot 2018-02-26 at 13 42 59](https://user-images.githubusercontent.com/12784825/36666254-17936ba8-1afb-11e8-809c-7b5da1d61fa9.png)
![screen shot 2018-02-26 at 13 43 21](https://user-images.githubusercontent.com/12784825/36666255-17c35110-1afb-11e8-9b78-42036063b0a4.png)
![screen shot 2018-02-26 at 13 43 12](https://user-images.githubusercontent.com/12784825/36666256

[2018-02-26 10:52] cristinaelle commented on #230
@purdych1 : please, check English language, tks!

[2018-02-26 10:53] #256 closed

[2018-02-26 10:54] #259 closed

[2018-02-26 11:24] cristinaelle commented on #254
I have done 3 things:

- From the Never Assessed group in the Plan module, I selected an assessment on KE HNQIS IMCI for Home Ground Nursing that has actually NEVER BEEN assessed according to ER in DHIS2. After conducting the survey, the date of next assessment is correctly calculated (June 26, 2018) and it is correctly reported in the Plan module among Future group, but in the Action plan of the

[2018-02-26 11:28] #227 closed

[2018-02-26 11:28] #229 closed

[2018-02-26 11:30] #244 closed

[2018-02-26 11:32] cristinaelle commented on #196
I think this is related to #258, so I am closing this.

[2018-02-26 11:32] #196 closed

[2018-02-26 12:50] cristinaelle commented on #258
Linda and Janet noticed that this issue is resolved the moment I refresh metadata. I confirm that when I refresh metadata, all those surveys are not in the Never Assessed group anymore and pop up correctly in the Future group.

[2018-02-26 13:02] cristinaelle commented on #258
This might be related to #229 , too: both issues of calculation of the date of the next assessment and having events in the Never assessed group are not issues anymore when users refresh metadata. The question is:
Is there a way to avoid that users have to refresh their metadata after downloading/updating to 1.2.9? I am also afraid that in case users have automatic updates on on their tablets, the

[2018-03-06 15:00] lindasato opened #261 "1.2.10: Inverted Yes/No Answer Boxes"
The answer boxes in 1.2.10 are appearing in reverse order, "No" then "Yes".
![1 2 10 inverted answer boxes](https://user-images.githubusercontent.com/26415203/37039192-e7fa8ee4-2167-11e8-9026-14a6212eebd4.png)

[2018-03-07 10:40] cristinaelle commented on #261
Yep, it happens to me, too:

![screen shot 2018-03-07 at 13 36 31](https://user-images.githubusercontent.com/12784825/37088041-155d8102-220d-11e8-80f7-8ca7b71e554f.png)

[2018-03-07 10:46] cristinaelle opened #262 "1.2.10 - Improve: missing date of next assessment in the Action Plan shared"
I did an assessment on KE HNQIS IMCI for the OU Luma Health Care which is a Low prd one. I have a QoC score of 26.7% and HNQIS tells me that the date of the next visit is +4 months. The date is correctly reported at the top of the Improve module, Action Plan, and in the Plan module.

However, when I share the Action Plan, the date of the next visit is Null.

![screen shot 2018-03-07 at 13 41 45](h

[2018-03-07 11:55] lindasato commented on #254
In 1.2.10, now the date is correct in the Plan Module and Observation and Action plan, but once you share the Action plan via the various platforms, the sent version has a wrong date of next assessment. But once I refresh metadata, all the dates in Plan module, Obs and Action Plan and the shared action plan are all correct. When I install the app afresh, instead of upgrading from 1.2.9, then the d

[2018-03-07 15:48] cristinaelle commented on #231
Esunly and Sam report that at the moment, when there is a change to upload for existing HNQIS checklists (a new DE, new feedback script, a change in a DE Form name, etc), everything switches off, and previous-captured surveys will fail to be sent to DHIS2 because DHIS2 won't recognise data for that checklist any more. They suggest considering updating the metadata that is necessary, only, rather t

[2018-03-12 09:29] #261 closed

[2018-03-12 09:50] lindasato opened #263 "1.2.10: Loss of Observation and Action Plan after Refreshing metadata"
When I refresh metadata then open the Observations and Action plan of an assessment I had completed before refreshing metadata, it is blank.  (Note: I had marked as complete before refreshing metadata and shared). Once it is blank, it is possible to type in new comments and send again which shouldn't be the case. This is the first time this is happening. The previous versions we had of the Obs and

[2018-03-12 10:21] lindasato commented on #254
@ifoche , with the new link you sent for the correct 1.2.10, the Dates in the Observation and Action Plan are wrong again even after refreshing metadata. We have 2 scenarios (both after refreshing metadata):
(1) Scenario 1: Correct Date in Obs and Action Plan on the tablet then the wrong date on the shared version
![correct date obs action plan](https://user-images.githubusercontent.com/26415203/3

[2018-03-19 16:53] ifoche commented on #263
@lindasato. Observation & Action Plan is not translated in the sense server -> app. So refreshing metadata will make the user think there's no previous observation & action plan. We were required to implement it in that way. However, I think that could be a good feature for the next release

[2018-03-19 17:23] ifoche commented on #254
Hi @lindasato. I'm not able to replicate it. Each observation & action plan is referred to when the survey it's linked to was created, and references the next assessment by the time that survey was created, not the next assessment as it can be seen today....may this be a misunderstanding on that?

In 1) and 2)if you pressed not on the current last survey but the previous one, you probably got the

[2018-04-09 23:57] EyeSeeTeaBotTest opened #264 "test"
## User Report
test

## ScreenShot
![file](https://raw.githubusercontent.com/EyeSeeTeaBotTest/snapshots/master/android_screenshot591482994.jpg)
## Device Info
[code]

[2018-04-09 23:57] #264 closed

[2018-04-16 19:49] cristinaelle opened #265 "1.3 - Plan: disable multiple selection of OU/Health Area when the user clicks on the 3 vertical dots"
In the Plan module, I have selected more than one OU/Health Area and then clicked on the 3 vertical dots of one pair OU/Health Area: HNQIS allows me to reschedule the date for the pair OU/Health Area I have selected, nice. However, the other OU/Health Area that I have previously selected is still selected, a bit confusing. Suggest removing the selection of multiple pairs OU/Health Area when the us

[2018-04-16 19:53] cristinaelle opened #266 "1.3 - Plan: unlock Save button"
From the Plan module, I want to reschedule an assessment: it seems that I can’t Save a rescheduling unless I click on the calendar, first. The Save button is not active until I click on the calendar and select a date. I understand the rationale for doing so, however it seems that the HNQIS calendar remembers the last date I have selected, so it'll be nice to allow users to click on Save straight a

[2018-04-16 19:55] cristinaelle opened #267 "1.3 - Connect POEditor to 1.3 version"
Nice!! Minor comment: what is the plan for French, Portuguese, Laos and Khmer for this box?

![3 assess](https://user-images.githubusercontent.com/12784825/38831799-30abfafc-41c9-11e8-9989-aff0a95b7b1c.png)

[2018-04-16 20:09] cristinaelle opened #268 "1.3 - Improve: sharing Action Plan"
I love it!! Thanks!

![screen shot 2018-04-16 at 22 58 54](https://user-images.githubusercontent.com/12784825/38832087-217356f6-41ca-11e8-883e-3f3cb0b65a4e.png)

Kindly note that the url address of the Action Plan doesn't work when the user is offline (of course, it does not!). The text says the URL is not available yet.

![4 improve](https://user-images.githubusercontent.com/12784825/38832094-2ad

[2018-04-16 20:12] cristinaelle opened #269 "1.3 - Assess: message in case of no active surveys?"
In the Assess module, when I select a pair of OU/Health Area, in case there is no active survey for the selected pair, do you think we can have a message popping up that says ‘No active survey for your selection. In case you want to start a new survey for your selection, click +’?

![5 assess](https://user-images.githubusercontent.com/12784825/38832562-9f17846e-41cb-11e8-81dc-a7b83c91f6a8.png)

At

[2018-04-16 20:16] cristinaelle opened #270 "1.3 - Monitor: consider removing empty rows when there are no assessments in the past 6 months"
In the Monitor module, consider removing empty rows of Health Areas or OUs when there are no assessments for that Health Area or OU in the past 6 months.

Example 1: there was a survey on KE HNQIS HIV in Oct, but then there was no survey on KE HNQIS HIV In the past 6 months and the row is blank. Consider not showing empty rows.

![7 monitor](https://user-images.githubusercontent.com/12784825/38832

[2018-04-17 11:10] ifoche commented on #257
I move it to done, because it's already implemented in 1.3

[2018-04-17 11:16] ifoche commented on #255
closing the issue as it's already implemented in 1.3

[2018-04-17 11:42] ifoche commented on #234
Already implemented in 1.3

[2018-04-17 11:44] ifoche commented on #253
Already implemented in 1.3

[2018-04-17 11:59] ifoche commented on #236
Already implemented on 1.3

[2018-04-17 12:00] ifoche commented on #260
This is already implemented in 1.3

[2018-04-17 16:08] #248 closed

[2018-04-17 16:09] #213 closed

[2018-04-17 16:09] #230 closed

[2018-04-17 16:09] #241 closed

[2018-04-17 16:09] #205 closed

[2018-04-17 16:09] #245 closed

[2018-04-17 16:10] #217 closed

[2018-04-17 16:10] #215 closed

[2018-04-17 16:10] #204 closed

[2018-04-17 16:10] #206 closed

[2018-04-17 16:10] #222 closed

[2018-04-17 16:10] #247 closed

[2018-04-17 16:11] #110 closed

[2018-04-17 16:11] #240 closed

[2018-04-17 16:11] #216 closed

[2018-04-17 16:11] #207 closed

[2018-04-17 16:11] #235 closed

[2018-04-17 16:11] #221 closed

[2018-04-17 16:12] #226 closed

[2018-04-17 16:12] #243 closed

[2018-04-18 14:46] rodmelia commented on #265
1. When rescheduling a single OU/ Survey, please add information on the heading of what OU/ Survey is currently selected (see screenshot red area above)
2. When more than one survey is selected, please:
- Hide the ... on the right
- Display X number of surveys being re-schedule for OU XXXX (see screenshot red area above)

[2018-04-18 14:55] rodmelia commented on #266
Another way to report the problem: when doing mass-rescheduling, the save button doesn't work UNLESS you select a new date. The save button should always work, even if you don't change the date.

[2018-04-18 14:59] rodmelia commented on #267
@ifoche  - Cristina tells me that she doesn't have access to PO editor - can we arrange access for her and Chris? (I'm assuming that these strings are in PO Editor)

[2018-04-18 15:03] rodmelia opened #271 "Completness colors"
How many colours/ ranges are:
1. Currently in use?
2. Can we use?
3. Can we have a different scale for the internal circle vs the external one?

[2018-04-18 15:05] cristinaelle commented on #267
Make this text box available even if the inner circle doesn't reach 100%, so that users can tap on it and see the % of completion of both compulsory and all questions.

[2018-04-18 15:13] rodmelia opened #272 "Completness chart cannot be accessed from within the surveys UNLESS you get 100%"
please make it accessible at all time, just disable the complete button until the user reaches 100% mandaotry

[2018-04-18 15:14] rodmelia commented on #272
[Uploading completion wheel doesn't oepn pop up.png...]

[2018-04-18 15:31] rodmelia commented on #269
@ifoche: please add the following message to Assess and Feedback when no surveys are returned.

Initial PO editor sentences - will be updated later.
- Assess: 'No active survey(s) at this time for the selection you have made. Click on + to start a new survey'

- Feedback: 'No survey(s) completed for the selection you have made. '

[2018-04-18 15:36] rodmelia commented on #260
done in 1.3

[2018-04-18 15:36] #260 closed

[2018-04-18 15:37] cristinaelle commented on #236
@lindasato to check in 1.3.

[2018-04-18 15:37] cristinaelle commented on #253
Done in 1.3.

[2018-04-18 15:37] #253 closed

[2018-04-18 15:37] rodmelia commented on #253
done in 1.3

[2018-04-18 15:39] cristinaelle commented on #234
It's not there in 1.3.

[2018-04-18 15:39] cristinaelle commented on #255
Nice!

[2018-04-18 15:39] #255 closed

[2018-04-18 15:47] cristinaelle commented on #214
Done.

[2018-04-18 15:47] #214 closed

[2018-04-18 15:48] cristinaelle commented on #100
Done.

[2018-04-18 15:48] #100 closed

[2018-04-18 15:49] cristinaelle commented on #180
Done.

[2018-04-18 15:49] #180 closed

[2018-04-18 15:53] rodmelia opened #273 "URL: layout changes"
Collect feedback and then list all necessary changes to the web page - sent as a single feedback doc

[2018-04-18 15:54] #251 closed

[2018-04-18 15:55] cristinaelle opened #274 "1.3 - Plan module: remove the possibility to start a survey from clicking on the row"
From the Plan module, I can start a survey when I tap anywhere on a row. Please, remove this possibility, so that users are forced to intentionally start a survey when they want.

![screen shot 2018-04-18 at 18 50 33](https://user-images.githubusercontent.com/12784825/38943376-e7a7c3e6-4339-11e8-8e04-1d219f29eb80.png)

[2018-04-18 15:55] cristinaelle commented on #252
Done.

[2018-04-18 15:55] #252 closed

[2018-04-18 15:56] cristinaelle commented on #212
Done.

[2018-04-18 15:56] #212 closed

[2018-04-18 15:57] cristinaelle commented on #258
Done.

[2018-04-18 15:57] #258 closed

[2018-04-18 15:58] cristinaelle commented on #254
Done.

[2018-04-18 16:01] rodmelia commented on #263
@ifoche - what's the status for this in 1.3? Is HNQIS retrieving any saved data for action plan ?

[2018-04-18 16:01] cristinaelle commented on #262
Done.

[2018-04-18 16:01] #262 closed

[2018-04-18 16:02] cristinaelle commented on #193
Done.

[2018-04-18 16:30] cristinaelle commented on #223
Mh, this is kind of still there. Steps:
- Assess: select a Health Area and an OU,
- Go to Improve. HNQIS opens the feedback of the last survey it has for that pair Health Area / OU that you have selected in Assess. This is not correct. It should take the user to the "landing page" of the Improve module that shows past Completed surveys for that selection of Health Area / OU. Now it takes the user

[2018-04-18 16:34] cristinaelle commented on #257
Done.

[2018-04-18 16:34] #257 closed

[2018-04-19 10:30] ifoche commented on #263
@rodmelia no. Pull of Observation & Action Plans from the server was never implemented.

[2018-04-19 10:35] ifoche commented on #234
@cristinaelle, maybe I'm wrong but I think this issue started with changing colors to distinguish feedback from the questions and later with Rodolfo proposal, that changed into creating the indentation to make it possible that differentiation. 1.3 is already creating the indentation, not the background color...so when you say that it's not done is because you would like to have also different back

[2018-04-19 13:30] ifoche commented on #267
Hi @rodmelia, I've just added Chris to the HNQIS project in POEditor (@ChrisR13 please let me know if you have any problem accessing it). @cristinaelle you are already among the translators.Can you check again if you can log in? Otherwise I can try removing you and adding you again, to see if it produces a new invitation

[2018-04-19 13:31] ifoche commented on #267
BTW, these strings are not yet published in POEditor (it's still linked to the 1.2 version). Maybe we can use this issue to track the task of upgrading from 1.2 to 1.3 the terms in POEditor?

[2018-04-19 13:38] ifoche commented on #266
The rational under blocking the button is to avoid rescheduling to the same date that is already scheduled. It makes sense for normal rescheduling but it doesn't for massive rescheduling. As the component is the same one, this is something that we didn't see, but it's not very difficult to create a variation for the massive rescheduling. I agree with the complexity-low label

[2018-04-19 14:03] ifoche commented on #223
@cristinaelle it's only doing it when there's only one result in the listing, assuming that the user typically is going to enter that feedback, but you still have the back arrow if you want to see the listing again. It was a feature of this release if I'm not bad. Do you want us to remove it?

[2018-04-20 12:50] lindasato commented on #236
Confirmed, this is now rendering okay in 1.3

[2018-04-20 13:59] janetpatry commented on #265
Assess Module, percent complete feature is not calculating correctly for IMCI. Other health areas are fine.
<img width="416" alt="incorrect percent complete" src="https://user-images.githubusercontent.com/38428114/39055151-1f0bed7a-44bc-11e8-95d8-000d080f4217.PNG">

[2018-04-20 15:14] janetpatry commented on #223
Please increase the color contrast for better clarity. Compared to the older version of HNQIS, the new is very muted.
<img width="329" alt="assess color contrast" src="https://user-images.githubusercontent.com/38428114/39059196-8555f79c-44c6-11e8-9eba-b065422d3ecd.PNG">

[2018-04-20 15:33] #236 closed

[2018-04-20 15:44] cristinaelle commented on #234
Ok, I am now seeing and indentation. Sorry for the confusion. Closing this.

[2018-04-20 15:44] #234 closed

[2018-04-20 16:13] cristinaelle commented on #267
Yes, I confirm I have access to the HNQIS Project in POEditor.

[2018-04-20 18:25] lindasato opened #275 "1.3 - Plan Module: Selecting Reschedule when "Customize fonts?" has been selected makes the app crash"
If you select "Customize fonts?" in settings and forget to uncheck it, when you select Reschedule in plan module, the app crashes.

[2018-04-20 18:50] lindasato opened #276 "1.3 - Plan Module: Comment box cursor too low"
The active part of the comment box in Reschedule is set too low. The cursor does not appear when the comment box opens, and if you tap the upper sections of the comment box, nothing happens. You have to tap just above the line at the bottom for the cursor to appear. Can you make the cursor appear automatically when the box opens so that one knows they need to type at the bottom for it to respond?

[2018-04-21 02:52] EyeSeeTeaBotTest opened #277 "1.3 - Round of the scores"
## User Report
Please round of the scores in monitor module. This is the only place I have seen this not rounded off ( see screenshot). The rest of the sections are displaying 100% for this example used.

## ScreenShot
![file](https://raw.githubusercontent.com/EyeSeeTeaBotTest/snapshots/master/android_screenshot592482888.jpg)
## Device Info
[code]

[2018-04-21 03:08] lindasato commented on #277
For some reason reporting by shaking is only capturing the main page of the monitor module. I have attached below the appropriate screenshot.
![round off scores-issue 277](https://user-images.githubusercontent.com/26415203/39079797-521402c0-452a-11e8-9103-3575b7d1e6a7.jpg)

[2018-04-21 04:23] cristinaelle opened #278 "DESIGN: Assess and Improve: increase color contrast"
From Janet:
Please increase the color contrast for better clarity. Compared to the older version of HNQIS, the new is very muted. And the Feedback module used to have gray questions and white feedback--it was easier to see the feedback that way. Please consider adding it back.

<img width="456" alt="39060788-0025b5ee-44cb-11e8-98ff-09ccb26ff328" src="https://user-images.githubusercontent.com/12784

[2018-04-21 04:26] cristinaelle opened #279 "1.3 - Assess: percent complete feature is not correctly calculated for IMCI"
From Janet: percent complete feature is not calculating correctly for IMCI. Other health areas are fine.

<img width="416" alt="39055151-1f0bed7a-44bc-11e8-95d8-000d080f4217" src="https://user-images.githubusercontent.com/12784825/39080366-3c001b4e-4535-11e8-96aa-a854e921e840.png">

[2018-04-23 12:29] ifoche commented on #279
@cristinaelle I cannot clearly see how to reproduce it in your image. Do you mean that if you enter the survey the percent is different than from the listing?

[2018-04-23 12:36] cristinaelle commented on #279
Over to Janet because she is the one who has reported this. I have given her a heads-up on this.

[2018-04-23 12:46] janetpatry commented on #279
You can disregard this. I thought it was calculating the total number of questions answered out of 100%. But I now see it is calculating separately for each Overall and Mandatory. Sorry! It was me who was confused!

[2018-04-23 12:57] rodmelia commented on #263
Set for 1.4 - June 2018 ?

[2018-04-23 13:12] #279 closed

[2018-04-23 16:27] ifoche commented on #271
@rodmelia we're now using 3 ranges of color. Moving the thresholds is easy, changing the number of thresholds a bit more complicated. Current thresholds are:
- 80: low-to-medium threshold
- 90: medium-to-high threshold

Colors are different for the external and internal circles. Here their hexadecimal code.
For the external circle (non-mandatory):
- ratio_questions_high: 98fb98
- ratio_questions_m

[2018-04-23 16:34] rodmelia commented on #278
1. I suggest changing the words fail/ pass by icons: a green check mark, a red cross. That way we eliminate the horrible problem of letters going into the next row.

2. About the colours
2.a. Survey: I personally prefer the more muted tones. What is the opinion of users?
2.b. Feedback: I agree that we can increase the height of the header, as well as the get the background colour to extended acros

[2018-04-24 09:34] lindasato commented on #254
Just adding a screenshot for this from 1.3
![obs and action](https://user-images.githubusercontent.com/26415203/39178968-c2a6d70e-47bb-11e8-83a9-a32076a4aa62.jpg)

[2018-04-24 14:02] ChrisR13 commented on #278
Hi all - I am amenable to keeping the muted tones in the questions themselves. I think the titles of each section however,  should retain that original dark black contrast as it helps denote a clear separation between sections.

[2018-04-24 14:26] cristinaelle commented on #278
Change from Fail/Pass to Red/Green icon (a tick mark? a square?): makes a lot of sense, great idea! We have issues with letters going into the next row for FR and PT, too, so this suggestion is welcome.

[2018-04-24 14:32] cristinaelle commented on #271
Can we use the same thresholds and the same colors for both completeness scales?

- Below 80: low-to-medium threshold (ff0000)
- From 80 to 99: medium-to-high threshold (fecb2f)
- Above 99: high threshold (0f7f12)

[2018-04-25 19:02] ifoche commented on #254
@cristinaelle we should change this issue to 1.3 milestone, right?

[2018-04-26 09:52] ifoche commented on #275
@lindasato, this version doesn't allow to customize fonts. Maybe you're testing with the previous version?

[2018-04-26 11:02] cristinaelle commented on #271
Yes, tks.

[2018-05-02 14:53] cristinaelle opened #280 "1.3 - Improve: provider's name DE missing in DHIS2"
In the Obs & Action Plan, supervisors fill in 4+1 fields: Provider name, Gaps, Action Plan, Action 1 and Action 2. In DHIS2, we can't locate the Provider name DE. We have DEs for Action Plan, Action 1 and Action 2, but not for Provider name.

![screen shot 2018-05-02 at 17 51 37](https://user-images.githubusercontent.com/12784825/39530466-afd36d6e-4e31-11e8-810f-af14d93d5137.png)

[2018-05-02 15:03] cristinaelle commented on #210
Please, review new Scoring classes in the formatted version of the Obs & Action Plan shared. At the moment the Scoring classes in the url are the old ones.

See:
https://apps.psi-mis.org/hnqis/feedback?eventId=kqM9WsysDyT#

[2018-05-02 15:23] cristinaelle opened #281 "1.3 - Improve: provider's name reported in the Obs & Action Plan below the first level of the HNQIS checklist"
We are working to introduce for all Health Areas the possibility for supervisors to collect provider's name, age and gender. In the Assess module, we'll have 3 new DEs (provider's name, age and gender) **at the top of each tab** (i.e. for FP we have 3 tabs: Oral Contraceptives, IUDs, Injectables. Supervisors will collect provider's name, age and gender 3 times, once for every tab).
We want provide

[2018-05-02 15:25] cristinaelle commented on #273
1) See #210 for the new Scoring classes.
2) Report Provider's name right below the score of every tab (i.e. for IMCI, we'll have a provider's name below 1. Inquiry and Physical Examination, for FP, we'll have a provider's name for several tabs). See #281.

[2018-05-02 15:28] cristinaelle commented on #202
It works correctly in clone. Let me know if you want to test this in data, too.

[2018-05-02 15:34] cristinaelle commented on #210
In DHIS2, for Chris & Chris to work on new Scoring ranges to be ready the moment we launch 1.3:

Class A - green: >= 90%
Class B - yellow: 80% >= and < 90%
Class C - red: <80%

This is to be done for Fixed DEs (Fixed Class A, Fixed Class B, Fixed Class C), Fixed Indicators (Fixed % Class A, Fixed % Class B, Fixed % Class C) and DEs _Overall Class A, _Overall Class B, _Overall Class C.

[2018-05-02 15:37] cristinaelle commented on #231
Assigning Chris & Chris to review the last outstanding things from the tech specs docs:

O3 Loading programs: can't say, @purdych1 to check

O7 Refresh metadata: cant's say, @purdych1 to check

O8 Control DEs review: can't say, @purdych1 to check

[2018-05-10 09:58] rodmelia commented on #197
[redossimplesiconos.zip](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46fa919e2c9190a082f9b346b754f39b274934316546b3397f8fe62bab0021435a591ca8415e0c42fcaa8029a6b23f708a5c09e4d26e5727d42103eee9dc4be05ce36ade0d97bcae8b4bcae93827e2828b493d1e07198efb4f78.zip)

[2018-05-10 10:00] rodmelia commented on #278
#197 addresses the issue of the replacing Pass/ Fail for icons. They have been provided.
We still need to resolve the issue of colours in general

[2018-05-15 14:28] #269 closed

[2018-05-15 14:34] cristinaelle opened #282 "1.3.2 - Plan module: unclear where to click to open the calendar"
When I want to reschedule a date, not sure where to click to open the calendar. Do I have to double click on the date? On the calendar? Sorry, I know this is a MINOR detail, but can't really get to understand how to open the calendar.

![screen shot 2018-05-15 at 17 30 36](https://user-images.githubusercontent.com/12784825/40063487-1bf0edf8-5866-11e8-9db6-3aaee23ff6c1.png)

[2018-05-15 14:34] #266 closed

[2018-05-15 14:36] #265 closed

[2018-05-15 14:37] #276 closed

[2018-05-15 14:39] #274 closed

[2018-05-15 14:52] cristinaelle commented on #271
Please, note that the color scales for completeness range are still different between all Qs and compulsory Qs. See below colors from the 2 wheels and the % of completeness:

![screen shot 2018-05-15 at 17 40 36](https://user-images.githubusercontent.com/12784825/40064648-a76e5288-5868-11e8-8b8c-15f367fb685e.png)

![screen shot 2018-05-15 at 17 40 47](https://user-images.githubusercontent.com/1278

[2018-05-15 14:55] #272 closed

[2018-05-15 14:57] #275 closed

[2018-05-15 15:08] cristinaelle opened #283 "1.3.2 - Assess and Improve module: force the user to use the 3 vertical dots"
Block any action from the row of a survey (as you did in the Plan module). Force the user to use the 3 vertical dots from the Assess and Improve modules. This way, in Assess users will see the % of completeness for both all and compulsory Qs and decide whether to Edit, Delete or Cancel, and in Improve users will decide whether to go to View Feedback, Action Plan or Cancel.

![screen shot 2018-05-1

[2018-05-15 15:09] #223 closed

[2018-05-15 15:10] #277 closed

[2018-05-15 15:12] #197 closed

[2018-05-15 15:19] cristinaelle opened #284 "DESIGN: Improve module: inconsistent layout"
This looks a bit confusing: below some question rows we have a dark black line, below others we don't have any  line, below others we have a light black line. I don't have a specific suggestion, just to clean this up a bit: leave a grey line between rows and a dark line between sections?

![screen shot 2018-05-15 at 18 13 17](https://user-images.githubusercontent.com/12784825/40066319-836195f4-586

[2018-05-15 15:29] #254 closed

[2018-05-16 14:58] cristinaelle commented on #273
Can we make sure that the url works for sfhnigeria and singapore servers, too? Unfortunately, I can't test this.

[2018-05-16 18:00] ifoche commented on #280
@cristinaelle I've just checked in clone server and for example for the program KE HNQIS IMCI the data element _ProviderName is not added. I think that the only thing that's missing is to add the DE to the program. But I don't have the permissions to do it on data...I guess this one is for @rodmelia ?

[2018-05-16 18:53] ifoche commented on #281
@cristinaelle in 1.3 there's no longer a formatted text sharing (unless we're talking about the URL that's shared via the simple sharing). Is this a 1.3 or a 1.2 issue?

Moving the place where the provider's name is in the shared text is quite simple, but I think you're meaning introducing a per-tab provider data element that would be recognized and introduced on top of each "section" of the feedb

[2018-05-17 11:32] cristinaelle commented on #281
Right - I am referring to the url shared via the simple text.

Let us think through your second Q a bit more and will come back to you with an answer. This is a critical piece according to what we are hearing from countries, so we need to find a solution. We can add to every single HNQIS checklist a first tab that is Provider's details that reports Provider's name, sex, age, education level, etc.

[2018-05-17 15:06] ifoche commented on #281
Ok, so for the first question about the URL, I defer to @rodmelia. We're don't manage the web part.

For the second thing, I think is doable, to add a provider name DE to a composite score. Probably it's just a matter of grouping this with #263, and maybe another feature and creating a 1.4 with them...but obviously that's something that you have to decide. Just let me know whenever you have a deci

[2018-05-17 15:13] cristinaelle commented on #281
yes, we have emailed country teams to let us know what they prefer between (i) provider's details per checklist (as you suggested, and this is my preferred option, too) and (ii) provider's details per tab. Will let you know asap.

[2018-05-23 15:52] #281 closed, assigned to nobody

[2018-05-24 12:32] cristinaelle opened #285 "1.3 - URL: unanswered questions render as failed questions"
Unanswered questions render as Failed questions in the url. Maybe this is to do with the fact that in DHIS2 ER reports NA as 0, so NA are reported as Fail in the url, too? Just a thought.
In case of unanswered questions, is it possible to have NA instead of Fail in the url?

In [this](https://apps.psi-mis.org/hnqis/feedback?eventId=anDhggEIQ5v) example, the question "_Provider obtains personal his

[2018-05-25 13:39] janetpatry opened #286 "Version 1.2.14 Duplication of never assessed surveys in Plan Module"
When the users logged in for the first time to version 1.2.14, Never Assessed had 40 surveys in it. The next day it had 80. The day after that it had 160. It kept doubling every day until it reached 240. It stopped at 240. This happened to multiple users in Kenya. I am unaware of it happening in other countries.
[compressedData.zip](https://github.com/EyeSeeTea/QAApp/files/2039513/compressedData.z

[2018-05-27 16:04] ifoche commented on #285
Assigning to @rodmelia as it has to do with the WS URL

[2018-05-27 16:18] ifoche commented on #280
assigning to @rodmelia for him to check it and verify if the server modification solves the issue.

[2018-05-27 16:19] ifoche commented on #273
assigning to @rodmelia as it has to do with WS URLs

[2018-05-31 09:05] cristinaelle commented on #263
I understand this is something very difficult to implement (and expensive). Please, work on an estimation of LoE before addressing this card.

[2018-05-31 15:21] rodmelia commented on #263
Yes - we are working on that.

On Thu, 31 May 2018 at 11:05, cristinaelle <notifications@github.com> wrote:

[2018-06-02 11:25] mansya opened #287 "New logo"
Hi, I am a graphic designer, I want to help others in graphic design.

After I reviewed your project, Your logo not interesting. Therefore I want to contribute to this project by creating a new logo / icon. I designed it for free. What do you think?

[2018-06-02 18:48] #287 closed

[2018-06-04 12:26] #283 closed

[2018-06-04 14:51] ifoche commented on #286
@janetpatry we've found a solution (this one was really hard) but the solution wouldn't fix the never assess list for those that are currently experimenting the problem. It's not a big problem from the app's perspective, but the user can be confused seeing so much never assessed surveys. After applying the fix that we've created, if the user refresh metadata, the problem will disappear, but if not

[2018-06-05 11:46] janetpatry commented on #286
Hi Ignacio,

Can we please combine this with the 1.3.3 release?

________________________________
From: Ignacio Foche <notifications@github.com>
Sent: Monday, June 4, 2018 5:51 PM
To: EyeSeeTea/QAApp
Cc: Janet Patry; Mention
Subject: Re: [EyeSeeTea/QAApp] Version 1.2.14 Duplication of never assessed surveys in Plan Module (#286)

@janetpatry<https://github.com/janetpatry> we've found a solution (t

[2018-06-05 11:55] cristinaelle commented on #284
We have tested this and we think it's not there yet. The difference between questions and feedback scripts is very unclear and the indentation doesn't help. Can we have a different background for questions and scripts, please? Also related to #278 .

[2018-06-11 12:44] #182 closed

[2018-06-11 12:45] #210 closed

[2018-06-11 12:45] #267 closed

[2018-06-11 12:50] rodmelia commented on #285
Rodolfo to work with Tran on updating web page

[2018-06-11 12:52] rodmelia commented on #280
Assigning to Chris

[2018-06-11 13:00] #202 closed

[2018-06-11 13:05] cristinaelle commented on #271
![screen shot 2018-06-11 at 16 03 28](https://user-images.githubusercontent.com/12784825/41233101-044a594c-6d91-11e8-91b0-65b79a8a45b9.png)

The color scales look good because they use 2 different shades of green - yellow - red for the inner and outer circles, so users can distinguish the 2 circles even when the % of completion are similar for the two sets of questions (compulsory and all). No nee

[2018-06-11 13:07] rodmelia commented on #263
ESTIMATION: 20-30h

[2018-06-12 11:36] rodmelia commented on #231
@cristinaelle  @ChrisR13  - what about this ticket? Anything pending?

[2018-06-12 11:36] rodmelia commented on #263
@ChrisR13  & @cristinaelle  - let us know final decision

[2018-06-12 11:43] rodmelia opened #288 "Add server URL query string parameter"
Add server URL parameter so it becomes available for all servers - including sfhnigeria and singapore servers

[2018-06-13 18:19] ChrisR13 commented on #280
hello! a ticket on Helpdesk has been created for the BAO team to implement across all countries, programs.

[2018-06-14 11:03] cristinaelle opened #289 "1.3 - Enable viewer for Multimedia library"
Can't say whether the option to Download multimedia works in 1.3. Please, make sure to check that users have the possibility to download the multimedia onto their tablets and access them from this menu option (at the moment it doesn't work in 1.2.14).

![screen shot 2018-06-14 at 14 01 24](https://user-images.githubusercontent.com/12784825/41408494-8daac48c-6fdb-11e8-868b-1451ed1139d4.png)

[2018-06-14 13:44] ChrisR13 commented on #231
I am working on this. Will review with Chris Purdy. Thanks

[2018-06-14 19:22] ifoche commented on #286
Hi Janet. I think that because of the way this is done in 1.3.x it shouldn't be happening in 1.3.3. Did you experienced this behavior in 1.3.x?

[2018-06-14 19:34] ifoche commented on #289
@cristinaelle looks like the image you're showing doesn't contain any downloaded media. Does that user have access to programs whose metadata has been configured to point to some videos using the Drive UID in the data elements? Could you provide an example user to test on clone.psi-mis.org? Thank you!

[2018-06-15 06:03] cristinaelle commented on #286
Yes - Janet did.

[2018-06-15 10:59] cristinaelle commented on #289
I have tried for a user in data (MWdemo1; Malawidemo1) and got the same issue. MWdemo1 has access to videos in 1.2.14, but it seems that videos are not loaded into the Multimedia library for 1.2.3 (sshot).

![screen shot 2018-06-15 at 09 35 13](https://user-images.githubusercontent.com/12784825/41453864-00e76d0c-7080-11e8-89ab-927507901077.png)

@ChrisR13 : can you please replicate MWdemo1 in clon

[2018-06-15 12:29] ifoche commented on #288
@rodmelia how would the user change that parameter? a setting I guess? Would that setting be hidden under developers options?

[2018-06-15 12:36] ifoche commented on #288
Maybe we could pass the same server we're connected to and the user cannot change it without changing the server? Does that make sense?

[2018-06-15 12:38] ifoche commented on #286
ok, we will review it also in 1.3. Should we generate the fix for 1.2.x too?

[2018-06-15 13:47] ChrisR13 commented on #231
@cristinaelle  - can you clarify what is needed here to complete this?

[2018-06-15 15:01] rodmelia commented on #288
Yes - that's all we need to pass: the URL used for the initial connection.

On Fri, 15 Jun 2018 at 14:36, Ignacio Foche <notifications@github.com>
wrote:

[2018-06-15 15:31] cristinaelle commented on #286
We are very close to release 1.3, so I'd say to wait for 1.3.

[2018-06-15 15:34] cristinaelle commented on #231
Reference docs:
- [Tech specs](https://docs.google.com/document/d/1YXHkMosYsREGN23kB0nq-p3X-x4J0cyrlvZKKObA1OU/edit#heading=h.csfrk6dqp7oa)
- [Estimation](https://docs.google.com/document/d/1SaXHbxCAWRtMo95PN8pJYNwhcr8t9tinw-ZXJkyVFTc/edit)

Have a look at these reference docs for the following things that are missing:

O3 Loading programs
O7 Refresh metadata
O8 Control DEs review

Rodolfo had ind

[2018-06-16 06:28] rodmelia commented on #231
For me, the question is if it is justified further investment.

On Fri, 15 Jun 2018, 17:34 cristinaelle, <notifications@github.com> wrote:

[2018-06-16 17:20] ifoche commented on #231
Hi @cristinaelle. Just wanted to add the following in case it's useful:
**O3 Loading programs**: This is already implemented. Only programs that contain the program attribute are translated into the tablet. Not sure if your idea was something more sophisticated or maybe I'm missing some other information about this.
**O7 Refresh metadata**: I found the metadata/data downloader screen very useful i

[2018-06-17 09:39] rodmelia commented on #231
I think at this point we should focus in releasing what we have, rather
than adding more requirements. The only exception is the syncing for the
Action Report fields that it is pending.

On Sat, 16 Jun 2018 at 19:20, Ignacio Foche <notifications@github.com>
wrote:

[2018-06-17 14:31] cristinaelle commented on #231
Yep, agreed. Also, it seems that Ignacio already addressed everything apart from O7 which can wait.

[2018-06-18 14:17] ChrisR13 commented on #280
The two DEs have been added to each program in production. @cristinaelle  feel free to confirm!

[2018-06-18 14:20] ChrisR13 commented on #231
@cristinaelle , with Ignacio's comments, I think we can move this to done, yes?

[2018-06-19 15:35] ChrisR13 commented on #263
@rodmelia  @ifoche  - please hold off on this functionality for future iterations of HNQIS. We don't have the budget to support this right now.

[2018-06-20 10:02] cristinaelle commented on #280
Kindly note that it is not working. Empty value for the DE _ProviderName in DHIS2.

![screen shot 2018-06-20 at 13 01 42](https://user-images.githubusercontent.com/12784825/41651831-301b5c06-748a-11e8-95a7-d91bce0be498.png)

[2018-06-20 15:09] ChrisR13 commented on #289
Hi @cristinaelle - I am unable to replicate MWdemo1 at this time due to a technical issue with DHIS2. I can't replicate any HNQIS accounts. I have raised the issue to @rodmelia , JM, and Rodrigo

[2018-06-20 15:23] cristinaelle commented on #289
In case it helps - I have tested this on 1.3, data.psi-mis.org, KEdemo1, Demo1234, waited for the analytics to run and ER still shows no data values for _ProviderName.

[2018-06-21 13:15] ifoche commented on #280
Hi @cristinaelle, did you refresh metadata after the DE was added to the server? The control DEs are processed in the app during the metadata pull, so if it was not present during that stage, it will not be sent later.

[2018-06-21 13:56] cristinaelle commented on #280
yes, I logged out and logged in again with a new username / pw.

[2018-06-22 19:53] rodmelia commented on #278
I'm closing this issue and moving the discussion to #284, which addresses all open design issues.

[2018-06-22 19:59] #278 closed

[2018-06-24 07:49] rodmelia commented on #284
@cristinaelle  - please review and comment the updated design below
![HNQIS revised June design.jpeg](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46c0baab0ab1c3bb8affb650a159b0be3c4822332d01b022778ba164fd52690e050a1de853524d41faab8d2ba0e53a70d95509edd56e5f74c63f18afbb8a4cad1da862da11d1e9e1d30695aa2f2ff58a87453f1b071181fd5b30a

[2018-06-24 08:49] cristinaelle commented on #284
approved! tks!

[2018-06-26 15:18] ChrisR13 commented on #280
Any thoughts @rodmelia ?

[2018-06-26 21:21] rodmelia commented on #280
I've moved this to ready for Ignacio to investigate further.

[2018-06-26 21:22] rodmelia commented on #289
@cristinaelle @ChrisR13  - what's the status fo this ticket?

[2018-06-27 09:32] cristinaelle commented on #289
I saw Linda submitting a ticket to Esunly to investigate this further because it seems that videos appear randomly (some of them appear, others do not and there is no consistency in this behavior).

[2018-06-29 13:21] ChrisR13 commented on #289
@cristinaelle   - there appear to be some other tickets being submitted around issues with functionality. Janet and I experienced this.

[2018-06-29 13:29] ChrisR13 commented on #289
Just an FYI: This is the ticket @cristinaelle  is mentioning. https://helppsi.freshdesk.com/a/tickets/2507

[2018-07-02 11:18] cristinaelle opened #290 "1.3 - Improve module: Sent vs Unsent surveys: how to know?"
In the Improve module, I can't see a dash or an asterisk any more next to survey, so I wonder how users will know whether their surveys have been sent or not?

![screen shot 2018-07-02 at 14 15 40](https://user-images.githubusercontent.com/12784825/42161233-cc9477b2-7e02-11e8-89e9-db4ec5b8eb97.png)

[2018-07-02 11:21] cristinaelle commented on #290
Disregard this issue.

[2018-07-02 11:21] #290 closed

[2018-07-02 22:21] ifoche commented on #289
Looking into it, I'll come back with the result of the investigation soon.

[2018-07-03 13:24] #273 closed

[2018-07-04 10:46] cristinaelle commented on #280
sent

[2018-07-04 12:13] ifoche commented on #280
Thank you! We will study it. BTW, just to be sure, but people are filling in the provider's name field, right? I mean, is not like people are sending it blank and that's why it's blank in those cases...Because we're consistently getting it sent

[2018-07-04 13:48] cristinaelle commented on #280
Now provider's name is showing up in data, too. Sorry! Closing this.

![screen shot 2018-07-04 at 16 48 03](https://user-images.githubusercontent.com/12784825/42280674-17c1e60e-7faa-11e8-9f8e-87039eba6f7c.png)

[2018-07-04 13:49] #280 closed

[2018-07-04 19:54] ifoche commented on #289
could we have the DB for this problem, too? We cannot replicate it (Thanks!). We're currently blaming a lack of space in the device or a 3g + intermittent wifi connexion. Videos will only download over WiFi, and maybe that could explain this behavior.

[2018-07-06 13:35] esunly opened #291 "Videos don't load randomly"
For HNQIS 1.2.14 some videos load and others don't. On refreshing metadata, at times the ones which were missing load but then different videos don't load.  This appears to be random and not particular to any videos.

[2018-07-06 13:36] esunly commented on #291
Some accounts to test:

User: KEdemo1
Password: Kenyademo1

User:MWdemo1
Password: Malawidemo1

[2018-07-11 10:32] janetpatry opened #292 "1.2.14 Repeatedly Crashing for Kenya"
Kenya is reporting the app is crashing. When they open a new assessment, the app crashes. When they try to mark an assessment as complete, the app crashes. They get the message, HNQIS has suddenly stopped working. I'm trying to get them to export their database but so far they can't because of the crash.
Other things to note in respect to this issue: 1) the data server is extremely slow--I raised

[2018-07-11 11:48] cristinaelle commented on #292
@purdych1 and @rodmelia : the data server is extremely low these days. wonder if these issues are related to this?

[2018-07-23 11:35] esunly commented on #291
Hi,

I just wanted to know if there is any progress with this issue.

Best,
Esunly

[2018-07-23 14:03] cristinaelle opened #293 "1.3.4 - Assess: different message in case of inactive selection of pair OU/Health Area"
In case the pair OU/Health Area is not active because that Health Area is not assigned to the selected OU, if possible, let’s display a different message: ’This survey is not assigned to this facility. Please, select another survey.’
The current message doesn't make sense because the user can't start any new survey.

![screen shot 2018-07-23 at 12 17 11](https://user-images.githubusercontent.com/1

[2018-07-23 14:05] lindasato commented on #289
In 1.3.4,  the Downloaded Media is just a list of the videos and Images (see screenshot below). Is there a way the videos/Images can be accessed from this page? Not sure how this is supposed to work.

![downloaded media 1 34](https://user-images.githubusercontent.com/26415203/43081216-326e7e6e-8e9a-11e8-8922-dfe7bc46a261.jpg)

[2018-07-23 14:06] cristinaelle opened #294 "1.3.4 - Improve: pointers to % completion wheels are off"
Please, note that pointers to the % completion wheels are off and in some cases, the pointer to the inner circle lands on the outer circle. This happens for both ways users have to access the % completion wheels: from the landing page of the Assess module and from the top bar of the Assess module when you are completing a survey.

![screen shot 2018-07-23 at 15 45 19](https://user-images.githubuse

[2018-07-23 14:07] cristinaelle opened #295 "1.3.4 - Improve: back arrows don't take the user to the right place after watching videos"
When the user clicks on the back arrow after watching a video, the device should take the user to the Feedback page and not the Improve module landing page.

Related to the closed issue #203

[2018-07-23 14:10] cristinaelle opened #296 "1.3.4 - Improve: consider reporting 0.0% on a grey background"
0.0% scores in the Feedback page are shown in white on a red background. Super confusing to the user. In case this is a minor change, do you think we can have 0.0% on a grey background? The users will greatly appreciate this.

![screen shot 2018-07-23 at 17 09 04](https://user-images.githubusercontent.com/12784825/43081802-21cbb8e6-8e9b-11e8-9295-9c1d1d86c4c0.png)

[2018-07-23 14:11] cristinaelle opened #297 "1.3.4 - Improve: not all critical questions are marked with an asterisk in the Feedback page"
Linda has tried to find a pattern, but couldn't find any. We have noticed that in the Feedback page of the Improve module, not all critical questions have an asterisk at the end. Some have, others don't.

[2018-07-23 14:14] cristinaelle opened #298 "1.3.4 - Improve: sharing Action Plan"
On most Android devices, when the user shares an Action plan, he is asked to choose a messaging application (i.e. WApp, skype, sms, etc) and he is also asked to choose to use the selected app 'Just once' or 'Always'. It has happened that a user has selected 'Always' for a wrong app and can't revert his choice. Is there a way to avoid that message to pop up and have HNQIS to ALWAYS ask the user whi

[2018-07-23 14:16] cristinaelle commented on #288
1.3.4: the url doesn't work on sfhnigeria and singapore-dev servers.

![screen shot 2018-07-23 at 12 15 08](https://user-images.githubusercontent.com/12784825/43082166-134c1b16-8e9c-11e8-887b-453a15ac0694.png)

Also, the url doesn't report Gaps and Action Plan. These fields are blank.

![screen shot 2018-07-20 at 15 15 40](https://user-images.githubusercontent.com/12784825/43082182-1dc5707e-8e9c-1

[2018-07-23 14:18] #284 closed

[2018-07-23 14:20] cristinaelle opened #299 "1.3.4 - Bugs we can't replicate"
We are reporting some bugs that we have seen multiple times, but that we can't replicate in a consistent way - just for you to be aware.

1) Plan: sometimes the massive rescheduling page is blank. When I select an OU, the page is blank. This happens on many servers.

![screen shot 2018-07-23 at 12 22 03](https://user-images.githubusercontent.com/12784825/43082359-8952e7cc-8e9c-11e8-9224-ae3e1ed651

[2018-07-23 14:42] ChrisR13 commented on #298
Hi all - I tested a different aspect of the issue and received the same result. I completed the action plan and selected OneDrive as the app. Before completing, I hit return to remove me from the OneDrive app and return me to improve. When I tried to hit the send button again, I noticed that it automatically took me to OneDrive instead of taking me to the other app options.

[2018-07-23 15:00] ChrisR13 commented on #296
Can we use the same grey from the NA responses? I concur with @cristinaelle  that any sections with all NA responses should be changed to the grey color.

[2018-07-23 15:13] EyeSeeTeaBotTest opened #300 "1.3.4 - Improve: Grey w/ yellow text change"
## User Report
Please change the yellow NA text on the grey background as it is difficult to see. Recommend changing to a black font on grey background.

## ScreenShot
![file](https://raw.githubusercontent.com/EyeSeeTeaBotTest/snapshots/master/android_screenshot1630166937.jpg)
## Device Info
[code]

[2018-07-23 15:15] ChrisR13 commented on #300
This is in conjunction with ticket #294, re: grey background.

[2018-07-23 15:36] ChrisR13 commented on #289
Agreed with Linda. I thought this feature would enable a user to click and view a video without having to go through Improved module.

[2018-07-23 21:43] rodmelia commented on #297
@cristinaelle  - could you prove an example:
- Login details, survey to open

[2018-07-23 21:52] rodmelia commented on #298
if you go to: Settings--->Apps-->HNQIS-->Reset App Preferences, this will force the app to ask again. We could investigate if we can prevent the app remembering - this is controlled by android.

[2018-07-23 21:57] rodmelia commented on #288
we are missing the necessary user on those servers - i will provide details soon for creating those users.

[2018-07-24 06:37] cristinaelle commented on #298
On some Android devices, the only option is Factory Data reset and this resets the phone and erases all data including files that have been downloaded (all messages and photos, etc). Let us know how much it costs to have HNQIS preventing to remember the option selected. This will be our preferred choice. Thanks.

[2018-07-24 07:00] cristinaelle commented on #297
data server
KEdemo1;Kenyademo1
IMCI checklist on any Test OU

First section - Inquiry and Physical Examination (2 random Qs don't ask asterisk in Improve):
- Provider asks whether there are lethargy, convulsions/convulsing now
- Provider asks if the patient can drink or breastfeed

![screen shot 2018-07-24 at 09 53 49](https://user-images.githubusercontent.com/12784825/43122021-540c62d2-8f28-11e8-

[2018-07-30 15:52] rodmelia commented on #289
HNQIS didn't have this functionality (Connect has it). We will include for a future release

[2018-07-30 16:01] rodmelia commented on #294
@cristinaelle - Below a simple proposal to adjust the control. What do you think?

Trying to align the reference lines dynamically will be a significant effort. I've also identified it as low priority (1.3 can be released as it is)
![Screen Shot 2018-07-30 at 11.56.01.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46db97882

[2018-07-30 16:03] rodmelia commented on #291
@esunly  - can you confirm that the device that you are using has enough storage space in the main memory?. Please send a screenshot of your device's storage availability.

[2018-07-30 16:06] rodmelia commented on #293
This could be a bug - in theory you should not be able to get to this selection.

[2018-07-30 16:14] rodmelia commented on #297
Probably just hidden behind a layout - Ignacio will review

[2018-07-30 16:17] rodmelia commented on #295
Pending review - it may be a bug, but it could be pending implementation.

[2018-07-30 16:20] rodmelia opened #301 "Feedback improvement - progress bar when loading a survey"

[2018-07-30 16:23] rodmelia commented on #299
@cristinaelle & @ChrisR13  -  any further information on how to replicate this issues?
If you manage to replicate any of them, please send database

[2018-07-30 17:30] cristinaelle commented on #294
What if the line for the overall questions stay where it is and the line for mandatory questions goes right to the center of the circle(s)? This won't be dynamic - just making the line for mandatory questions closer to the inner circle. And the closer you can get it's right in the middle of the circle.

[2018-08-01 08:59] esunly commented on #291
@rodmelia, @ifoche  It seems that the issue was caused by the problems with data server. The user have tested again and the videos are loading now well. You can close this issue now.

Many thanks for following up!
Best,
Esunly

[2018-08-06 05:37] rodmelia commented on #298
@ifoche - can you force android NOT to remember programatically?

[2018-08-06 05:38] rodmelia commented on #301
@ifoche - please estimate

[2018-08-15 07:30] rodmelia opened #302 "Allow videos to play directly from the new video browser"

[2018-08-15 07:30] rodmelia commented on #302
@ifoche please estimate - I imagine that we can reuse the functionality of ConnectApp for this one.

[2018-08-20 07:57] lindasato commented on #193
Hi Ignacio,
This has now happened again, different test account and different server-please see screen shot below. I have exported the DB to you
![issues 193 on 1 3 5](https://user-images.githubusercontent.com/26415203/44327634-d9f37d00-a467-11e8-9796-637e192bc522.jpg)

[2018-08-20 08:16] cristinaelle commented on #193
Linda reported this is happening for 1.3.5, too. Database below.

[compressedData.zip](https://github.com/EyeSeeTea/QAApp/files/2301636/compressedData.zip)

[2018-08-20 08:28] lindasato commented on #288
@ifoche ,
1.3.5: the url is now working for the sfhnigeria server but it is not available for the singapore-dev server.

[2018-08-21 05:43] #291 closed

[2018-08-21 06:00] ifoche commented on #302
duplicate of #289

[2018-08-21 06:10] ifoche commented on #193
Thank you! I'll let you know as soon as we have an assessment

[2018-08-21 06:16] ifoche commented on #298
@rodmelia that's an Android control. As far as I know we cannot do it by using the default behavior. But we could investigate a bit other solutions. The most evident one is to re-design the screen that ask for the app selection, and ask for a subgroup of apps that we would open in an explicit way instead of an implicit one. But this is not very quick to implement. Would that work?

[2018-08-22 06:16] ifoche commented on #193
@cristinaelle Effectively we can see in the DB the survey duplication in planning, but we cannot replicate that duplication. Do you have any extra information about how the duplication was created? What was the user doing when this happened? Any further information will be very helpful. Thanks!

[2018-08-22 06:44] cristinaelle commented on #298
Thanks for looking into this. Consider how low priority this is, let's drop this and move this to the backlog of nice-to-have features to implement when we raise more money.

[2018-08-22 07:36] lindasato commented on #193
@ifoche , unfortunately I have never been able to replicate this issue. I completed the assessment, checked out the feedback module, then I simply looked in Plan module to check if the date of next visit was calculated correctly and that's when I noticed the duplication. Sorry I don't have more information on this.

[2018-08-22 09:39] ifoche commented on #193
ok, we will try to replicate it, but if you by chance find a consistent way, please, just let me know. Thanks!

[2018-08-23 11:35] cristinaelle commented on #288
@rodmelia : please, take care of this for the version Ignacio will publish on Sep 7.

[2018-08-23 12:54] #295 closed

[2018-08-23 12:54] #293 closed

[2018-08-23 12:54] #271 closed

[2018-08-23 12:55] #296 closed

[2018-08-23 12:58] #297 closed

[2018-08-23 13:01] #300 closed

[2018-08-23 13:02] #294 closed

[2018-08-29 22:27] rodmelia commented on #288
assigned to tran - I've cc'ed crisitna and janet in the email.

[2018-08-30 12:28] rodmelia commented on #288
update @ifoche  - Janet reports that for Singapore-dev the URL doesn't get generated by the app - see screenshot. Needs investigation (let's test in our call tomorrow)
![Screenshot_20180830-120528[1].png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/56b36ea0c587de1300b8b565/125516c66e82c728ace21e0d46db978826878dba87e6ab7cf60da1cc791e74236455f17b25d7bb13ee7f394d4d1f0cf31b0d0c

[2018-08-31 09:11] ifoche commented on #193
unable to replicate

[2018-08-31 10:18] #302 closed

[2018-08-31 10:30] rodmelia opened #303 "Better message for case 'URL not yet availalbe'"
When a survey has not been sent to the server, it is not possible to generate a URL for web feedback, as the UID event assignment is pending. We should display a better message -

Proposal: 'Survey not yet synchronized with server - feedback URL not yet available'

[2018-08-31 10:30] rodmelia commented on #303
@ifoche - before implementing, we need approval of the message from the HNQIS team

[2018-08-31 10:31] rodmelia commented on #288
When a survey has not been sent to the server, it is not possible to generate a URL for web feedback, as the UID event assignment is pending. Hence the message.

We should display a better message - see #303

[2018-08-31 12:48] cristinaelle commented on #303
'The feedback URL is not available because the survey hasn't been sent to the server yet. Try sharing the feedback again later.'

[2018-09-03 12:53] lindasato commented on #301
This is working, thanks all.

[2018-09-04 16:00] davidhuser opened #304 "1.3.6 - Faulty video stops download of all"
I assigned a video [1] to a DE. This video would never download, but it would stop downloading other videos as well.
Then I re-transcoded the video and re-set the DE URL to [2]. This let all videos download successfully.

It would be better to download all videos that are valid and skip only those that are not valid.

[1] https://drive.google.com/open?id=16RKqlMqpFIVCwUI4DrlcM5E15xHGuys9

[2] http

[2018-09-04 16:02] davidhuser commented on #304
Hoping you do not need a demo account for this as it works now - wanted to post this FYI, feel free to move to Done.

[2018-09-09 07:36] #301 closed

[2018-09-27 08:43] lindasato opened #305 "1.4: URL not available"
@ifoche, the URL for the shared Observation and Action Plan is not available despite having sent the survey to DHIS2 before sharing

[2018-10-02 09:00] lindasato commented on #305
You can close this issue, the server was having issues when I tested. It is working fine now.

[2018-10-02 09:00] #305 closed

[2018-10-02 17:19] lindasato opened #306 "1.4 - Error with date of next visit for Class B"
The date of the next visit for Class B is calculating as +2 months instead of +4 months
![1 4 - class b next visit](https://user-images.githubusercontent.com/26415203/46365065-41fccc00-c680-11e8-8639-1df8618c46fe.jpg)

[2018-10-03 08:22] lindasato opened #307 "1.4 - Mismatch in score and class due to rounding off"
So, we assign a very small score (0.00001) to each non-critical/ non-mandatory questions so that the "✓" or "X" signs can show improve module. Please adjust the decimal places so that scores from the non-critical questions remain insignificant Currently, this is significant. Example
(a) 16/20=80%....this appears as yellow in the tablet (Class B) which is correct
(b) 16/20.00001=0.7999996. This dis

[2018-10-03 08:45] lindasato opened #308 "Collapse sections in improve module at tab level"
Is it possible to collapse the improve module at tab level (image 1) so that when you open, this is the default display? Right now, the default is all tabs and all sections are open (Image 2)

Image 1
![image 1](https://user-images.githubusercontent.com/26415203/46399798-76fd3300-c701-11e8-95cc-a88c53cbffff.jpg)

Image 2
![image 2](https://user-images.githubusercontent.com/26415203/46399811-7ebcd7

[2018-10-09 07:21] lindasato opened #309 "1.3.6 - Improve Module QoC scores changing to NaN"
We have noticed that after sometime (not sure how much time), some QoC scores are changing to NaN. When completing surveys, this is not an issue as actual scores display. Later, the scores change to NaN and when you open the assessments whose score is NaN, all sections have 0% scores as though they were never assessed.
![nan scores](https://user-images.githubusercontent.com/26415203/46652872-06489

[2018-10-09 09:49] ifoche commented on #307
@lindasato this may have much more implications than it may seem in a first look. Wouldn't be better to fix the original problem and avoid the need of providing a score to question just to make them appear in the improve module? (something like defining if a question contributes or not to the scores separately so we can show all questions with a score in the improve module but only some of them wo

[2018-10-09 09:59] ifoche commented on #306
@lindasato, is this related to #307?

[2018-10-09 10:00] lindasato commented on #307
@ifoche , yes this makes sense. But we don't really need to see which questions contribute to the scores in improve module, we just need to see whether the question was passed or failed by the appearance of the "✓"or "X" next to the question in Improve module . But I will defer this to @cristinaelle to make a decision since removing these scores (0.000001) will require additional LoE since this ha

[2018-10-09 10:17] lindasato commented on #306
@Ignacio, actually I just realized they are related. Let me close this since once #307 is sorted this will be fixed too.

[2018-10-09 10:17] #306 closed

[2018-10-09 10:55] cristinaelle commented on #307
We can't ask the developers to review ALL scores just to fix a misclassification in terms of Classes when the score is VERY close to 80%. There is a trade-off here. If we can't find another solution, let's leave with this little bug.

[2018-10-09 11:15] ifoche commented on #307
@cristinaelle maybe there's no need to ask for the review of all scores. If we consider the default behavior of a score as "included" it would be backward compatible and just in those cases where we will be creating a new score or if we want to explicitly change a specific one that is particularly ambiguous we use it. Does it sound better?

[2018-10-09 11:20] #304 closed

[2018-10-09 13:31] ifoche opened #310 "Prioritization matrix server-dependent"
+2, +4 +6 months by default
+1, +1, +6 months for ZW server

[2018-10-09 13:33] ifoche opened #311 "URL from a dropdown menu in the login page with a subset of servers"
Drop-down menu for servers:
data.psi-mis.org
sfhnigeria.psi-mis.org
singapore-dev.psi-mis.org
zw.hnqis.org
clone.psi-mis.org
Others (text)

If others is selected then a textfield is displayed to enter the server

[2018-10-09 17:31] cristinaelle commented on #311
Just saw that South Africa will have their own server, too: https://sfhza.psi-mis.org
In case you are able to include this in 1.4, let's change the milestone of this issue to 1.4.

[2018-10-10 09:38] cristinaelle commented on #307
I am afraid I don't understand what you are proposing here as a solution, my bad! Can you explain further, please?

[2018-10-11 07:14] ifoche commented on #307
Sure, sorry, probably I'm not explaining it very clear.

The point is that you can decide if a composite score contributes or not to the global score (via e.g. a new attribute in the DE, or simply a new value for the current of DE type attribute called "COMPOSITE_SCORES_NOT_CONTRIBUTING" or something similar).

In that case, if you decide to contribute to the global score, then the behavior is exa

[2018-10-11 09:36] ifoche commented on #309
Looks like not a problem of time but a behavior that depends on the surveys previously uploaded.

When a survey is created locally and only have values for questions that are not scored, the overall score is 0, is seen as 0-scored and when pushed to the server, the overall score is not sent. Then when a user pull that survey from the server, as the survey doesn't have an overall score in it, it's

[2018-10-15 06:57] lindasato commented on #307
@cristinaelle, I agree with you. I thought it was a simple fix. We can let this go.

[2018-10-15 08:51] ifoche commented on #309
@lindasato you cannot send an empty survey from the app but it looks like there are empty surveys directly filled in in the server.
Examples:
https://data.psi-mis.org/api/events/xI4dwwKBzrh
https://data.psi-mis.org/api/events/RhruXJMPHDW

BTW for the second screenshot we don't have a DB and the screenshot is taken without the developer options activated, could we have that so we can check if the p

[2018-10-15 09:57] lindasato commented on #309
@ifoche, the DB has been exported by the user in second screenshot. Please confirm once you see it.

[2018-10-16 09:43] lindasato commented on #307
@cristinaelle, I have just thought about this more. So, the issue of rounding off scores is minor and we can let it go, but Ignacio, mentions that adding the small score may be having more implications than we can see. @ifoche, are these potentially major problems or just minor ones? What's the trade off here?

[2018-11-05 15:19] ifoche commented on #309
After looking into the exported DB more in detail, we still don't have any clue about how those empty events have been generated in the server. The only thing that we're sure about is that they've not been generated in the app because in the DB the user is null, so they've been downloaded from the server. We don't exclude that they may be sent by some other users' app, but definitively not generat

[2018-11-08 04:58] cristinaelle commented on #309
let's drop this - super low priority, not replicable and it hasn't happened in a consistent / regular way.

[2018-11-08 07:13] ifoche commented on #309
ok, closing the issue

[2018-11-08 07:13] #309 closed

[2018-11-08 07:26] ifoche opened #312 "Date DE failure"
Report from Esunly:
I wanted to ask for your help about an issue I have with a date question. I'm getting the error in the attached screenshot. I also notice that when I enter a date an then complete any other question, the date entered disappears.

I configured this data element with question type "DATE". Check data element configuration here:
https://data.psi-mis.org/dhis-web-maintenance/#/edit/

[2018-11-08 21:00] esunly commented on #312
Hi Ignacio,

Any updates on this?

Many thanks,
Esunly

[2018-11-09 20:15] cristinaelle commented on #312
Let's fix this for 1.4.

thanks,

cristina

[2018-11-15 14:16] ifoche opened #313 "HNQIS 1.4 not working on clone-zw server"
Hi Ignacio,

Linda and I have been trying to test HNQIS in the clone.zw.hnqis.org server but the app crashes when we try to start a new survey from the assess module. We are able to start a survey from Plan but not Assess. Please see the video of what is happened here.

We would like to thoroughly test the app with all the health areas but we can't do that because of this issue.
Also, is the URL g

[2018-11-16 11:15] cristinaelle commented on #313
Reported this in Freshdesk, so we can close this issue because it is not related to the app according to what Ignacio is saying.

[2018-11-16 11:15] #313 closed

[2018-11-20 09:42] ifoche commented on #312
@cristinaelle I'm scheduling the next maintenance release. This issue we already found a solution and incorporated to 1.4, but we're not releasing yet waiting just in case there are other issues for 1.4 that have not yet been reported. Do you know if there are still tests coming and we need to wait for them in order to release a new version? Do you prefer us to release, let's say, early next week

[2018-11-20 10:16] cristinaelle commented on #312
hi! our data server is not in 2.30, so we can't release 1.4 until we upgrade to 2.30 (estimated date of update: Jan 27th). also, I know that there are some issues for 1.4 with the zw server (I have opened a freshdesk ticket for that) and esunly is taking care of those server-side. I hope this helps?

[2018-11-21 16:39] esunly commented on #313
Hi Ignacio,

When I click on the API link provided I can see the organisationUnitLevels well. If this is not the case for you, can you please send a screenshot? Can you also confirm which user are you using and if there are any specific users that need access to this endpoint?

Many thanks,
Esunly

[2018-11-22 14:36] cristinaelle commented on #312
a lot, tks!

[2018-12-07 10:44] lindasato commented on #307
Hi @ifoche , circling back to this so that we find a solution to the first problem we were trying to go around. Is there a way to make "✓" or "X" appear next to a question in Improve Module even when the question is not scored? Please see screenshot for an example. The upper circled questions are not scored and consequently "✓" does not appear, the lower circled questions have scores assigned to t

[2019-01-08 10:30] ifoche opened #314 "1.3 invalid version recognition"
HNQIS app must recognize an invalid version in 2 situations:
- On login, if trying to perform a login to a DHIS2 > 2.25 then it should show an alert saying that version is not supported
- On push, HNQIS must check before every push that server version didn't change and is still 2.25. In case it's not, then an alert is shown recommending to upgrade the app from GPlay

[2019-01-08 10:36] ifoche opened #315 "1.4 invalid version recognition"
HNQIS 1.4 app already recognize an invalid server version when trying to perform a login to a DHIS2 < 2.26, showing an alert saying that version is not supported. The requested feature is:
- On push, HNQIS must check before every push that server version didn't change. In case it's not, then an alert is shown recommending to upgrade the app and stops the push.

[2019-01-08 12:31] cristinaelle commented on #308
@ifoche : this has been reported as part of our 1.4 testing. Have you released a new version of 1.4 which has this issue fixed? If yes, which version is it?

[2019-01-11 06:39] cristinaelle commented on #308
Please, release a 1.4 candidate in time for the upgrade to 2.30 with the collapsed tabs for the Improve module. 1.4.0 doesn't show all tabs collapsed in the Improve module.

[2019-01-11 06:49] cristinaelle commented on #303
Please, release a 1.4 candidate in time for the upgrade to 2.30 with a better message in case the URL is not available because the event id hasn't been created yet. The current version 1.4 still shows 'URL not yet available'.

![screen shot 2019-01-11 at 09 46 24](https://user-images.githubusercontent.com/12784825/51017654-d16e2100-1585-11e9-80c5-99c7834f6787.png)

[2019-01-11 07:56] cristinaelle commented on #310
Please, make sure that the prioritization matrix for the ZW server applies to the 2.30 zw server, too (https://clone-zw.hnqis.org). At the moment this server has the default matrix +2, +4, +6 months.

[2019-01-11 08:17] cristinaelle commented on #288
Reopening this issue because the url generated from surveys sent to the server https://clone-zw.hnqis.org does not work correctly. The url is generated (meaning there is an event id in the server), but then the url doesn't work. Error message: Failed to authenticate in server https://clone-zw.hnqis.org

Try with this link:

https://apps.psi-mis.org/hnqis/feedback?eventId=tpgKEiA37i6&server=https:/

[2019-01-13 18:47] ifoche commented on #288
I defer this to @rodmelia as it has to do with the WS

[2019-01-13 18:49] ifoche commented on #289
@lindasato, @cristinaelle any news on this?

[2019-01-13 18:51] ifoche commented on #303
Taking care of this

[2019-01-13 18:53] ifoche commented on #308
Taking care of this

[2019-01-13 18:56] ifoche commented on #310
Reviewing prioritization matrix

[2019-01-13 19:05] ifoche commented on #311
ok, we will introduce this on 1.4, then

[2019-01-13 19:08] ifoche commented on #310
Actually, this was a 1.3 task, so it's normal that 1.4 prioritization matrix is not different, as it was not introduced on 1.4. We will introduce also this in 1.4

[2019-01-15 11:10] lindasato commented on #289
@cristinaelle, @ifoche  , I have tested this on 1.4 in latest server using the credentials, KEdemo1/Kenyademo1 and it is working well. I am able to play videos and view images from the downloaded media section.

[2019-01-15 16:16] cristinaelle commented on #289
Great, thanks!

[2019-01-15 16:16] #289 closed

[2019-01-17 08:06] ifoche commented on #308
Following @rodmelia instructions related to the total amount of time that can be dedicated to the release, this task is not implemented and moved to future releases

[2019-02-05 11:46] cristinaelle commented on #288
@rodmelia: what is the plan for this? Also, note the url generated has a dash at the end of the server URL and this leads to a blank page. See examples below for

(i) clone-zw.hnqis.org not working: https://apps.psi-mis.org/hnqis/feedback?eventId=tpgKEiA37i6&server=https://clone-zw.hnqis.org
(ii) url generated in the Obs & Action Plan with a slash at the end: https://apps.psi-mis.org/hnqis/feedbac

[2019-02-11 12:36] ifoche opened #316 "Android 4.x crash on button resource compabitility"

[2019-02-13 15:22] #316 closed

[2019-02-13 15:22] #315 closed

[2019-02-13 15:22] #314 closed

[2019-02-13 15:22] #311 closed

[2019-02-13 15:23] #303 closed

[2019-02-14 08:03] lindasato opened #317 "Grayed out server drop down menu"
@ifoche , some countries are seeing the server drop down menu grayed out while others can see it fully in black text. Please see the screenshot attached with device and android version details. We would like the  menu in black font for all countries/devices/android versions please.

![grayed out drop down menu](https://user-images.githubusercontent.com/26415203/52771820-00c1f300-3048-11e9-86c3-058

[2019-03-13 09:56] lindasato opened #318 "1.4.2 - HNQIS server urls (log-in page and Action Plan)"
Hi @ifoche , in Myanmar server (https://myanmar.psi-mis.org), the URL for the shared action plan is available but on clicking the URL there is no assessment. Please see screenshot below.

![blank](https://user-images.githubusercontent.com/26415203/54269972-6e056d00-458f-11e9-8a41-d55917db0a73.png)

[2019-03-14 05:59] lindasato commented on #318
@ifoche , in addition to https://myanmar.psi-mis.org server, please make the change for https://im-dev.psi-mis.org too.

[2019-03-14 06:18] cristinaelle commented on #318
@ifoche :@rodmelia : please, have a look at this.

[2019-03-14 06:22] cristinaelle commented on #318
@ifoche : please, in the log-in page, can you include in the drop-down menu of url the following servers:
- https://myanmar.psi-mis.org
- https://im-dev.psi-mis.org
- https://ao.hnqis.org
- https://sm.hnqis.org
and remove:
- https://clone.zw.hnqis.org
- https://singapore-dev.psi-mis.org

@rodmelia : can you make the necessary changes to the Web App in order to parse (?) the correct url when the su

[2019-03-18 11:35] cristinaelle commented on #318
@ifoche : kindly note that there have been some changes in the list of urls:

- ao-dev.hnqis.org
- so-dev.hnqis.org (from sm.hnqis.org to so-dev.hnqis.org because of geopolitics)

the other urls stay the same.

thanks!

[2019-03-20 05:29] cristinaelle commented on #318
@rodmelia and @ifoche : can you please follow up on the url generated when sharing the Obs & Action Plan for the servers zw.hnqis.org and myanmar.psi-mis.org? Users are saying HNQIS doesn't generate any url when they do assessments on those servers. thanks!

[2019-04-02 12:33] lindasato opened #319 "Add info symbol on questions with feedback in improve module"
@ifoche , is it possible to add the information symbol on questions that have feedback in improve module? Not all questions have feedback and one has to keep tapping all questions to reveal the ones with feedback.

[2019-04-02 12:52] lindasato opened #320 "Limiting selection to one option for questions with multiple choices"
We have checklists with multiple choice options where only one answer should be selected as "Yes". We are getting a lot of user errors where the users are selecting more than one "Yes" for such questions. Is it possible to gray out/or block the rest of the options once one answer has been selected as "Yes" for such set of questions? For this to work, we also need the app to allow partial scoring o

[2019-06-03 09:19] cristinaelle commented on #318
@ifoche: This is a never ending conversation, sorry!

**Final** list of servers we need on the log-in page:
https://data.psi-mis.org
https://ao-dev.hnqis.org
https://im-dev.psi-mis.org
https://jl-dev.hnqis.org
https://myanmar.psi-mis.org
http://sfhza.psi-mis.org
https://sm-dev.hnqis.org
https://zw.hnqis.org

Can we have this as a silent release at some point next week, please?

Best,

cristina

[2019-07-09 18:27] cristinaelle opened #321 "1.4.2 - Action Plan disappears when logging out / refreshing metadata"
Several users have reported having issues not seeing the Obs & Action Plan filled in even if they have filled them in and sent to the server. We have tested this and our conclusion is that when a user logs out / refreshes metadata, the fields for the Obs & Action Plan do not get populated with what has already been sent to the server (there is no pull from the server to the app for the Obs & Actio

[2019-07-22 14:15] emedinaBAO opened #322 "Settings not loading in 1.4.2"
<img width="532" alt="Screenshot 2019-07-22 at 14 48 01" src="https://user-images.githubusercontent.com/31136796/61639517-931f9000-ac93-11e9-9fef-cab9eed272a5.png">
Hi Ignacio,

I've tried to see the settings page in 1.4.2  (both in my tablet and in Genymotion) and it doesn't load. I was trying to enable the developers mode and also to be able to import databases into the app. Is this a known issu

[2019-07-23 15:30] lindasato opened #323 "1.5.0 - No action plans in monitor module"
We can see incomplete and complete menus but this module isn't populated with action plans, so we are unable to test it
![Monitor menus blank](https://user-images.githubusercontent.com/26415203/61725081-cc313080-ad77-11e9-9373-0ba921fc3c5a.jpg)

[2019-07-24 07:11] lindasato opened #324 "1.5.0 and 1.4.2 - headers cut off"
In improve module, the lower end of headers are appearing partially cut-out.
![Text cut-off](https://user-images.githubusercontent.com/26415203/61772440-f2e47b00-adfa-11e9-957e-1c3f2fb786a3.png)

![Text cut-off 2](https://user-images.githubusercontent.com/26415203/61772569-46ef5f80-adfb-11e9-863e-669199e9412e.jpg)

[2019-07-24 07:14] lindasato commented on #318
@cristinaelle , please confirm if sfhnigeria should be removed from the list of servers in 1.5.0

[2019-07-25 13:00] lindasato opened #325 "1.5.0 - Competency Classes not working correctly"
The competency classes are not working correctly as per the description in the tech specs document. (see below)
**Rate providers as competent, competent but needs improvement or not competent
- All critical steps and ≥ 90% non critical steps correct = Competent
- All critical steps correct and between 80% and < 90% non-critical steps correct = Competent but needs improvement
- Any critical step mi

[2019-07-30 07:57] cristinaelle commented on #318
@lindasato: yes, to remove. The final list of server urls doesn't include sfhnigeria

@ifoche: kindly note that I have removed jl-dev.hnqis.org from the list.

cristina

[2019-07-30 09:26] cristinaelle opened #326 "Multiple choices: grey out other options when one has been selected"
New feature: offer the possibility to select one option from a multiple choice menu and grey out the other options.
Note that the multiple choice options have different scores, so there is the need to have the den pulling from the option with the highest score (the way that at the moment the multiple choice works: the supervisor must tick all answers to all options in order for the calculation of

[2019-07-31 10:19] lindasato commented on #318
@ifoche : kindly correct Angola and Somaliland server names. They are both missing "**-dev**"
-should be https://sm-dev.hnqis.org
-should be https://ao-dev.hnqis.org

[2019-07-31 11:48] cristinaelle opened #327 "1.4.2 - Disappearing assessments"
Since the update to 1.4.2, some users from some countries (Kenya, Nepal, Nigeria, Uganda) have reported assessments disappearing from the app. It has taken some time to replicate the error and document it. See [ppt](https://we.tl/t-0cpH8JN8uu)* which illustrates assessments conducted and correctly showing up in Plan module and not showing up in Improve and Monitor. Assessments are correctly found

[2019-07-31 19:11] ifoche commented on #322
Dear @emedinaBAO, could you please share also the Android version you're using for us to replicate it?

Thanks!

[2019-08-01 14:18] emedinaBAO commented on #322
Hi @ifoche, the Android version I'm using in my tablet is 7.0. But I also tried with 5.1 in Genymotion.

Many thanks,
Esunly

[2019-08-01 16:50] ifoche commented on #322
Thank you for that, we're investigating it

[2019-08-01 20:12] ifoche opened #328 "Crash on 1.4.3 upgrade without internet"

[2019-08-02 08:11] ifoche commented on #323
Hi @lindasato . I can see in your screenshot that you're filtering by health area. You probably don't have any complete/incomplete because in order to have it you need to start an observation and action plan, so you have 3 actions that can be in a complete or incomplete state. As you're filtering, if you don't have an obs & action plan started for that health area, it might be normal that you don'

[2019-08-02 08:16] ifoche commented on #322
@emedinaBAO we're not able to replicate the issue and tested already in a tablet with Android 7, and also in emulators...is there anything else you could tell me so we can replicate the issue?

[2019-08-02 10:53] emedinaBAO commented on #322
@ifoche Thanks so much for looking into it! So settings are working well from your end (for the current version in gPlay)? Another colleague and I are having the same issue. Can you advice on how to sort this out?

[2019-08-02 12:56] lindasato commented on #323
Hi @ifoche we tested this after completing action plans. I have just retested it, I am even able to email the action plan but the action plan is not getting picked up in monitor module.

[2019-08-13 05:53] cristinaelle commented on #322
Hi @ifoche,

Kindly note that there are several users from Ghana who are reporting the same issue. Janet is in Ghana training 40+ supervisors from the MoH on the use of HNQIS and most of them have reported this issue, as well. Unfortunately, from my side, I cannot replicate this issue.
We appreciate your investigation. I have asked Janet to tell me what type of devices the users have, as well as t

[2019-08-22 05:43] ifoche commented on #320
@lindasato currently there's no mutually exclusive behaviour in HNQIS for multiple options. If I've properly understood, what you want to do is to limit to one the number of answers that you can provide to a group of Yes/No. Is this still valid?

[2019-08-22 06:28] cristinaelle commented on #320
very valid, yes! thanks! any chance we can implement this for 1.5.X?

[2019-08-23 09:10] ifoche opened #329 "Somalian app crashing"
On a separate mail we've received credentials, server and a description on how the app crashes (HNQIS version 1.4.2) when opening a form. We have also a video showing the crash happening. Next week MoH is visiting to see the app working, so we need to solve it asap

[2019-08-23 11:02] ifoche commented on #329
The problem seems to come from the user not being able to access the OU level that OU is assigned to.

When the app checks that OU, it says it's assigned to level 5. See here:
https://sm-dev.hnqis.org/api/organisationUnits/K4nBuJuDGAO.json

However when the app downloads the OU levels, it doesn't find a level 5:
https://sm-dev.hnqis.org/api/organisationUnitLevels.json?fields=:all

Could you check

[2019-09-13 07:39] ifoche opened #330 "Somalian app crashing on Assess module"
Report from Esunly:

The Somaliland is finding some issues with the app. It is very weird but if we start a survey for from the Plan module the app works well but if I try the same survey and facility from the Assess module, the app crashes. I reviewed the users settings and the orgunits and I found everything well. Can you kindly help troubleshoot? These are the details:

- Server:  https://sm-de

[2019-09-14 10:15] ifoche commented on #330
The app needs the user to have access to the OU levels any OU he's assigned to belongs. In this case, there's a level 6 that the user cannot see through the API but the OUs are assigned to that level. That's not important for creating a survey via the plan module, but the Assess needs to read the OU levels.

https://sm-dev.hnqis.org/api/organizationUnits/UVsWsU6MWJQ
https://sm-dev.hnqis.org/api/or

[2019-09-16 09:56] esunly commented on #322
Hi @ifoche,

Any updates on this issue? We need to use the settings menu to be able to see developers mode and import database files so this is really important for us.

Many thanks,
Esunly

[2019-09-16 13:09] esunly commented on #330
Hi @ifoche!

Thanks so much for looking into it. I fixed the OU levels and tested. everything is working well from my end. You can close this issue.

Many thanks,
Esunly

[2019-09-25 08:17] lindasato opened #331 "1.4.2: Unable to share action plan from ao-dev.hnqis.org"
Unable to share an action plan from Angola's app, instead, the app bounces to Plan module or out of the app.

[2019-10-13 10:06] ifoche opened #332 "64 bit compatibility"

[2019-10-13 15:37] ifoche opened #333 "64 bit compatibility"

[2019-10-14 06:00] cristinaelle commented on #318
@ifoche: can we have this in 1.4.7? The version you are going to publish after we test 1.4.6?

[2019-10-29 18:57] lindasato commented on #324
This is now resolved, thanks.

[2019-10-29 18:57] #324 closed

[2019-10-29 19:12] lindasato opened #334 "1.4.6- Partial logos on sm-dev.hnqis.org and im-dev.psi-mis.org servers"
The logos on sm-dev.hnqis.org and im-dev.psi-mis.org servers are partially cut out. All we can see is a "2". See image below.

![SM server logo](https://user-images.githubusercontent.com/26415203/67800839-13c30900-fa99-11e9-94ff-f667dce3ec20.jpg)

[2019-10-31 09:30] ifoche commented on #334
Dear @lindasato , the app's getting from the server the DHIS2 logo, which happens to be transparent background + DHIS2 letters in white. That's why you cannot see the rest of the logo. My suggestions to solve this issue would be:
1) To change the logo in the server, so it's not the old DHIS2 one, or at least not with a transparent background
2) For us to change the app's background color of the he

[2019-10-31 09:38] lindasato commented on #334
Thanks for the response Ignacio. I will let @cristinaelle make the decision on this.

[2019-10-31 11:16] cristinaelle commented on #334
hi @ifoche: thanks for this explanation. Considering that we have the same issue with im-dev.psi-mis.org and also in the server the logo doesn't look nice, I think it's ok to change the logo in the server itself, so that we also fix the way the logo looks server-side.

@lindasato: I can work on it at some point this / next week.

![image](https://user-images.githubusercontent.com/12784825/67942493

[2019-10-31 13:49] lindasato opened #335 "1.5.1 - Random Crashing Behavior"
1.5.1 is crashing quite a bit. This is random, it could be just after loading the app and you want to log in, or within the app when moving from one module to another or when you want to start conducting an assessment after selecting the HA and Org Unit. We have experienced this on 4 different devices and different servers. The other versions of the app, 1.4.2 and 1.4.6 are not exhibiting this beh

[2019-10-31 14:09] #317 closed

[2019-10-31 15:07] lindasato opened #336 "1.5.1 - Unresponsive Action Plan"
At times all the fields in Action plan are unresponsive and it is not possible to type anything in. The failed steps do not populate either. We had to uninstall and reinstall the app several times to finally get it to work. At times it is working then if you exit the action plan before you complete typing, when you get back into the action plan, all the failed steps that had populated vanish, then

[2019-10-31 15:12] lindasato commented on #336
https://drive.google.com/drive/folders/1UqRR3CsSNk84m0s_hUNbN932OYXoJh5f

[2019-10-31 15:21] lindasato opened #337 "1.4.6 and 1.5.1 - unable to sort assessments in improve module"
We just noticed that it is not possible to sort assessments by Facility, Completion Date, or Score (Competency Classes in the case of 1.5.1). This is a feature working in 1.4.2

[2019-10-31 15:25] lindasato opened #338 "1.5.1 - Assess module crashing"
Starting an assessment using the "+" sign crashes the app. This was demonstrated in three different devices
https://drive.google.com/drive/folders/1UqRR3CsSNk84m0s_hUNbN932OYXoJh5f

[2019-11-01 08:02] #323 closed

[2019-11-01 08:12] lindasato opened #339 "1.5.1 - Action plans wiped out in improve and monitor modules after refreshing metadata"
The issue of action plans being wiped out when metadata is refreshed is not new, please see issue # 263. But now it is critical to have this working. It will not be possible to track completion status of action plans if there is nothing to look at in the app if for any reason the users need to refresh metadata or logout the log back into the app.

[2019-11-01 08:27] lindasato opened #340 "Plus sign not clear in plan module"
The plus sign in plan module is not clear in some devices. This is not specific to 1.5.1. Would appreciate if this is made darker.

![Plus sign Plan module](https://user-images.githubusercontent.com/26415203/68012246-8d761500-fc9a-11e9-9ef8-4b941ad2d19c.PNG)

[2019-11-01 08:49] lindasato opened #341 "1.5.1 - Text re-write request"
2 requests:
1. Kindly rephrase the text in the red box in the image below in Action plan to **"Write specific actions to address gaps observed during the visit. Note any improvement in gaps identified during the last visit. "**
![Text re-write request](https://user-images.githubusercontent.com/26415203/68013188-4e958e80-fc9d-11e9-9d8a-a22b226e98dc.jpg)

2. In monitor module, Incomplete is spelled

[2019-11-01 09:41] lindasato opened #342 "1.4.2 and 1.5.1 - Mass Reschedule takes very long to load"
The mass reschedule feature at times takes very long to load, up to even 10 minutes. This is random, with different devices. The internet connection during the initial pull is very strong since all videos loaded without a delay.

[2019-11-01 09:51] lindasato opened #343 "1.5.1 -Competency class displaying as Not Available"
I have an assessment I conducted 2 days ago that has a score of 80% and the class should be **Not Competent** but it is displaying as Not Available. Not sure why it is **Not Available**

![Competenct class NA](https://user-images.githubusercontent.com/26415203/68016771-4e4dc100-fca6-11e9-8762-917d6869242d.jpg)

[2019-11-05 07:50] lindasato opened #344 "1.4.2 and 1.5.1 - Incorrect "Due Date" in mass reschedule"
The due date in the reschedule feature of plan module is not correctly reflecting the date the assessment was completed/created. See sample screenshots from 1.4.2 below where the dates are correct in improve module but the due dates in reschedule feature are different. The same is happening in 1.5.1. The due date is picking the date when you log into the app or refresh metadata.

![Due date bug](h

[2019-11-11 11:28] ifoche commented on #339
Hi @lindasato . Actually, Obs&Action plans were not being taken with the pull in HNQIS, so it would be a matter of implementing the functionality from zero. This might be a minor maintenance task or more complicated, but we need to investigate and provide you and estimate of how long would it take.

[2019-11-11 15:38] cristinaelle commented on #339
@ifoche : please, go ahead and investigate how long this will take in terms of LoE (and hence budget).

thanks!

ccing @lindasato

[2019-11-13 17:35] esunly commented on #322
Hi @ifoche!

Can you please let me know if there is any progress with this? Any ideas on what might be causing this problem?

Many thanks,
Esunly

[2019-11-13 17:42] esunly opened #345 "Sharing URL with duplicated headings"
Hi @ifoche,

Several users have reporting issues with the format of the surveys provided by the link created when clicking the sharing symbol (in the Action Plan page). The headings and numbering is being repeated several times.

Is this due to a bug in the app or is this something we can sort out somehow?

Many thanks,
Esunly
![Screenshot 2019-11-13 at 18 38 02](https://user-images.githubusercont

[2019-11-14 06:30] ifoche commented on #335
We've not been able to reproduce it. The only one we've seen is when one pointed in the issue #338 . Could you please try to narrow a bit the scenario to replicate it? We have the feeling that we can spend much time trying and we prefer to do it when we will have something more specific  if you don't mind

[2019-11-14 06:43] ifoche commented on #343
Hi @lindasato could you please provide the DB? We cannot replicate it and we would like to investigate a bit more to check whether there's something that we can do to reproduce it. There's a checkbox that allows you to show only the last assessment or all of them...could you ensure that you're representing the last assessment and not showing a previous one? I'm sure it's not the issue, but just to

[2019-11-14 06:48] ifoche commented on #345
@esunly I leave @rodmelia to answer, as it looks like a server-side problem

[2019-11-14 07:20] lindasato commented on #335
Hi Ignacio. This is quite random and we can't tell what triggers it. We have seen this when testing on tablets and phones. Janet says it doesn't crash when using an emulator. I have emailed you some sample recordings of the crash behavior.

[2019-11-14 07:27] lindasato commented on #343
Hi Ignacio. I had already sent this db from my gmail account (lsatokili@gmail.com)

[2019-11-14 07:53] ifoche opened #346 "Sharing images/videos"

[2019-11-14 07:54] ifoche opened #347 "Turn new monitoring into a merge between new and old monitoring"

[2019-11-14 08:53] cristinaelle commented on #345
@rodmelia : can you please look into this? I also think it'll be nice to tackle issue https://github.com/EyeSeeTea/QAApp/issues/288
The point is that we need the server url to work from the sharing Obs & Action plan with all servers, as they are typed in / selected in the log-in page.

[2019-11-14 10:41] ifoche commented on #342
Hi @lindasato is there anything else you could tell us to replicate the issue? We've not been able to replicate the problem. If the problem's happening, does it help if you change to another tab and back again to the planning one? or does it continue slow loading?

[2019-11-14 10:42] ifoche commented on #343
thanks!

[2019-11-14 10:50] ifoche commented on #344
Hi @lindasato ,

Actually, the app's looking at the creation date of the planned survey, which is not something that has been recovered from the server, but created by the app itself. That's why it changes with the login.

We could look for the completion date of the previous survey for that OU/program and use that date if you think it's correct. In that case, would it be ok to use "Last comp. dat

[2019-11-14 10:56] lindasato commented on #344
Hi @ifoche ,suggesting "**Comp date**" which is the term used in improve module. Alternatively, you can name it "**Last QA**" then rename "Scheduled" to "**Next QA**" (Next QA is used in the landing page of plan module).

[2019-11-14 11:16] lindasato commented on #342
Hi @ifoche, sadly we can't see a pattern on this. It is very random. At times changing tabs fixes it but in most cases it doesn't. Then at times it works just fine. Janet has just mentioned to me that this is not an issue in 1.5.1 only and she has seen this behavior when conducting trainings on 1.4.2 also.

[2019-11-15 09:44] ifoche commented on #343
Dear @lindasato,

as per our investigation on this, we think that the survey that's showing not available has been created using 1.4.x HNQIS and then a login using 1.5.x can only represent NA, because the competency value was not sent. It's a normal situation when, e.g., 2 testers are sharing the same user for testing 1.4.x and 1.5.x at the same time using the same server. Please check the event h

[2019-11-15 09:48] ifoche commented on #344
ok, thanks!

[2019-11-15 10:00] ifoche commented on #342
oh...ok...then maybe it's not an issue on 1.4.6 either? Because we're testing there and there has been some improvements in 1.4.6 in the way lists are displayed...maybe that's the point?

[2019-11-18 09:32] lindasato commented on #343
Hi @ifoche , okay. Makes sense.

[2019-11-18 09:32] #343 closed

[2019-11-18 12:09] esunly opened #348 "Not able to mark complete"
Hi @ifoche,

I'm having a really weird issue. Maybe I'm doing something wrong or there is any config problem causing the issue but I haven't been able to figure this out.

I managed to mark a survey as completed several times but noticed that one of the headings did not have the icon to allow me to display the content (even though that section had been answered). See the attached "Improve" screens

[2019-11-18 12:21] cristinaelle commented on #318
@ifoche : one more server to add to the drop-down menu in the login page:
https://imdatahub.org

thanks a lot! :)

cristina

[2019-11-19 07:20] cristinaelle commented on #342
@lindasato: to review this before our meeting tomorrow, tks.

[2019-11-20 08:22] #319 closed

[2019-11-20 08:31] lindasato commented on #342
I have done several tests on 1.4.6, not seen the issue.

[2019-11-20 09:26] cristinaelle commented on #331
@ifoche : to replicate this bug, use:
https://ao-dev.hnqis.org
AOdemo1;Angolademo1!

cristina

[2019-11-20 09:46] lindasato commented on #331
Hi @ifoche , see below the recording of how it happens
[AO-Action plan bug.pptx](https://github.com/EyeSeeTea/QAApp/files/3868457/AO-Action.plan.bug.pptx)

[2019-11-20 10:55] cristinaelle commented on #288
I have set up the hnqis.webapp user on the following servers:
- ao-dev.hnqis.org
- im-dev.psi-mis.org
- myanmar.psi-mis.org
- sfhza.psi-mis.org
- sm-dev.hnqis.org
- zw.hnqis.org

Tonight, I will update the pw on data and clone servers, as well, and Tran will update the pw in the apps website, as well.

Please, @lindasato: try whether this is working or not from tomorrow onwards (Thu, Nov 21st) (wh

[2019-11-20 12:41] lindasato commented on #288
Hi @cristinaelle , all the urls are leading to the surveys except for ao-dev.hnqis.org which has a bug preventing sharing of the action plan and I am therefore unable to test this. I will confirm this once ticket #331 has been resolved. Other issues to note:
-sm-dev.hnqis.org: the assessments are duplicated. Esunly had already raised a ticket here for this.
-myanmar.psi-mis.org: the checklists are

[2019-11-20 13:15] cristinaelle commented on #288
@lindasato : thanks for testing this so quickly! I am closing this ticket because it seems that this works well, apart from the issues already raised in other tickets. for Burmese and Lao language, yes, let's raise another ticket and assign this to @rodmelia because I guess it's something to do with the web page and rendering in alphabets others than latin.

[2019-11-20 13:15] #288 closed

[2019-11-20 13:33] lindasato opened #349 "Alphabets other than Latin not rendering in webpage page of shared action plan"
@rodmelia , the full survey accessed via the url in the shared action plans are appearing as question marks for  Burmese, Lao and Khmer languages. See screenshot below.

![Myanmar Surveys](https://user-images.githubusercontent.com/26415203/69243051-3b4a5480-0bb3-11ea-9f4f-b0b5ebc46f36.PNG)

[2019-11-20 15:09] rodmelia commented on #349
hi - can you please share the URL ?

On Wed, 20 Nov 2019 at 14:33, lindasato <notifications@github.com> wrote:

[2019-11-21 06:41] lindasato commented on #349
Burmese: https://apps.psi-mis.org/hnqis/feedback?eventId=a3vJnQobvNG&server=https://myanmar.psi-mis.org

Lao: https://apps.psi-mis.org/hnqis/feedback?eventId=oNIITvh62fo&server=https://data.psi-mis.org/

I will send Khmer later. I am unable to log into Cambodia's app at the moment. I have to raise a ticket to get the issue resolved before I can log in.

[2019-11-21 08:00] rodmelia commented on #349
These 2 examples are enough.

Tran: please have a look to this. Sounds like an easy fix.

On Thu, 21 Nov 2019, 07:41 lindasato, <notifications@github.com> wrote:

[2019-11-22 06:36] rodmelia commented on #349
Hi Rodolfo,

The bug is fixed now. I did upload the new changes on app server.
[image: capture_018_22112019_153447.jpg]

......................................
Best regards,
Tran Chau

On Thu, Nov 21, 2019 at 5:00 PM Rodolfo Melia <rodolfo.melia@gmail.com>
wrote:

--
-------------------------
Best regards,

Tran Chau

[2019-11-22 07:29] lindasato commented on #349
Hi @rodmelia and Tran, thanks for the changes. Confirming that the pages are now rendering in Lao, Burmese and Khmer.
![Laos webpage](https://user-images.githubusercontent.com/26415203/69406342-f3424380-0d12-11ea-9c9b-104d0e55f9b8.PNG)

[2019-11-22 07:30] #349 closed

[2019-11-22 07:35] rodmelia commented on #349
Thanks tran.

Timesheet code: it should all go into the HNQIS line

On Fri, 22 Nov 2019, 07:36 Chau Thu Tran, <cthutran@gmail.com> wrote:

[2019-11-22 09:50] #330 closed

[2019-11-25 09:39] rodmelia commented on #318
Updated list to be added initially in 1.4.2a, and later as a POeditor field on 1.5:
(please keep the order)

https://data.psi-mis.org
https://ao-dev.hnqis.org
https://im-dev.psi-mis.orghttps://imdatahub.org - URL not working on Nov 25, but it will soon.
https://myanmar.psi-mis.org
http://sfhza.psi-mis.org
https://sm-dev.hnqis.org
https://zw.hnqis.org

[2019-11-28 13:16] lindasato commented on #322
@ifoche and @esunly , James, one of our new team members just figured this out. If you change the font size in the device to large, the settings appear. Sadly, the issue reverses when you change back the font size to small. Some of the devices we have seen this include:
-Samsung galaxy tab A (SM-P555), Android version, 7.1.1
-Samsung galaxy tab A (SM-T555), Android version, 7.1.1
I hope this is us

[2019-12-02 14:44] esunly commented on #322
Thanks for looking into this @lindasato!

I tried what you said but it's not working for me. I have a Samsung galaxy tab A (2016)  (SM-T585), Android version, 7.0.

Can you please specify the steps your team member followed?

Many thanks,
Esunly

[2019-12-03 09:03] lindasato commented on #322
@emedinaBAO , there is really no formula. For us it works when we simply change the font size in the device settings, then when you go to the app the settings page is populated. The order of steps (whether you go to app first, then go back to change font or the other way round) doesn't produce different results.

[2019-12-10 11:54] ifoche commented on #318
Rodolfo and Ignacio: please, release 1.4.8 with the amended url for sfhza (https instead of http: https://sfhza.psi-mis.org), remove the dev server for IM (https://im-dev.psi-mis.org) and keep the prod server, only, for IM (https://imdatahub.org).

[2020-01-10 15:27] ifoche commented on #348
Hi @esunly,

we couldn't test exactly with the same survey/user, but using another one in the same server, what we discover is that at least in our case, the only situations where you don't get the deploy arrow (and hence you cannot show the answers for a composite score) is when you didn't answer to any question. Could it be your case, too? Are you sure that you answered to all the questions? Oth

[2020-01-15 02:29] ifoche commented on #342
closing the issue given it was not replicable

[2020-01-15 02:29] #342 closed

[2020-01-16 13:59] ifoche opened #350 "Share images/videos"

[2020-01-16 14:01] #350 closed

[2020-01-16 14:05] ifoche opened #351 "Demo mode broken on Android 9"

[2020-01-16 14:06] ifoche opened #352 "Bulk action checkboxes selection failures"

[2020-02-03 12:57] #341 closed

[2020-02-03 14:15] lindasato opened #353 "1.5.2: Incorrect Date in Monitor Module"
In the Monitor module, the date of the **next QA** visit is incorrect because it reports the date when the assessment was conducted instead of the date of the next visit. (the date in the red box)

![Incorrect Date in Monitor module-action plan](https://user-images.githubusercontent.com/26415203/73660158-b1d1fb00-46a8-11ea-8ce1-8a8bfba2a9b6.png)

[2020-02-03 14:17] #338 closed

[2020-02-03 14:20] #336 closed

[2020-02-04 07:10] #344 closed

[2020-02-04 07:23] #335 closed

[2020-02-04 07:26] lindasato commented on #312
You can close this ticket. This is working

[2020-02-04 07:28] #339 closed

[2020-02-04 07:30] #337 closed

[2020-02-04 09:22] lindasato commented on #346
Thanks for this! You can close the ticket

[2020-02-04 12:37] #340 closed

[2020-02-10 09:45] ifoche commented on #353
Dear @lindasato , could you please share your DB and clarify which version of the app you're using? Thank you!

[2020-02-10 09:45] #346 closed

[2020-02-10 09:46] #312 closed

[2020-02-10 10:12] lindasato commented on #353
Dear @ifoche , this is on version 1.5.2. I have just conducted an assessment for Hypertension (score of 60%, competency class: Not competent) and exported the DB to you on nacho@eyeseetea.com

[2020-03-04 09:06] #351 closed

[2020-03-08 10:49] esunly commented on #348
@ifoche

Sorry for my delayed response! The issue seem to be resolved by now. If this happens again I'll open a new issue. You can close this one.

Thanks,
Esunly

[2020-03-08 10:49] #348 closed

[2020-03-09 20:20] nancyespinoza commented on #353
fixed in 1.5.3

[2020-03-09 20:20] #353 closed

[2020-03-09 20:44] nancyespinoza opened #354 "1.5.3- Error in deleting a survey in the assess module"
| Description  |
| ------------- |
| The first time you delete a survey the app takes you to the downloaded media screen. The second time you delete a survey the app crashes.|
|<ul><li>server:https://clone.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| ------------- |
|<ul><li>Edit or create two or more surveys</li><li>Delete the first survey</li><li>Delete a second survey</l

[2020-03-09 21:15] nancyespinoza opened #355 "1.5.3- Update action plan external link with missing sections"
| Description  |
| ------------- |
| Gaps and Action plan as reported in the url shared from the Improve module are blank. Can we have the action plans, responsible and due date populate? The gaps (questions failed) can be seen in the full assessment so we don’t need this. Also, the browser tab still says HNQIS IMCI for all health areas. We would like it to reflect the correct name for each health

[2020-03-09 22:34] nancyespinoza commented on #325
**1.5.3**
We tested the cases documented in the spreadsheet attached by Linda. Only two of the cases are NOT working as expected:

**1. All critical steps are correct and NONE of the non-critical steps have answer**
(Row 12 in spreadsheet) The expected behavior would be to hide the competency class or "add" a "not applicable NA" status. @cristinaelle to confirm.

**2. All critical steps are correc

[2020-03-10 08:16] cristinaelle commented on #325
hi @nancyespinoza: correct, the plan is to have at least one compulsory question, so this needs to be taken care of during the program configuration process.

[2020-03-11 21:44] ifoche commented on #325
Hi @nancyespinoza . Thank you for the testing efforts. Could you please send me by email an example we could replicate? I'm thinking on user:pass@server you used and the example survey, so we can have exactly the same situation.

Thank you!

[2020-03-11 21:49] ifoche commented on #355
This is server-side so I leave the answer to @rodmelia

[2020-03-12 18:07] rodmelia commented on #355
The web page has not been updated. Can you confirm that the only elements that we need to update are:
1. actions,
2. responsible
3. due date
Also, we should update the title of the browser window. -.

There is a much nicer design that it is on the to do list for the workforce app.

[2020-03-13 05:28] cristinaelle commented on #355
hi @rodmelia: I am confirming with Janet what we want to have here. I'd say:
- Change the title of the browser window
- Report the Competency Class at the bottom (before Overall QA Score)
- Delete current Gaps and Action Plan
- Create Action - Responsible - Due date times 3.

[2020-03-19 16:41] nancyespinoza commented on #325
Hi @ifoche. After discussing this with @cristinaelle, the following adjustmen is needed in the competency score:
All critical steps and (≥ 89.9% non-critical steps correct OR NONE OF THE NON-CRITICAL STEPS ANSWERED) = **Competent**
All critical steps correct and between 79.9% and < 89.9% non-critical steps correct = **Competent but needs improvement**
Any critical step missed and below 79.9% of no

[2020-03-20 08:36] ifoche commented on #325
thank you, @nancyespinoza I think it's clear.

[2020-03-23 23:05] nancyespinoza opened #356 "1.5.3- Wrong behavior from action plan to monitor module"
| Description  |
| ------------- |
| Moving from action plan to monitor module have one of the following behaviors: |
| 1. The screen turns black and the app asks to be closed|
| 2. Shows the screen with the **Total number of  surveys undertaken**|
| 3. Correctly populates the monitor module screen with the specific filter (by survey or by Org Unit)|
|<ul><li>server:https://clone.psi-mis.org/</li>

[2020-04-13 10:01] ifoche opened #357 "Push taking out user from survey"
When user has something to send and is filling-in a survey, push intent is taking the user out to the list of surveys

[2020-04-20 17:35] anamariaelsal commented on #325
Hello @ifoche , this is Ana Maria, part of the testing team.  About the 1.5.4 testing and in regards of this particular bug, please take note the issue is still present, for those cases were all the critical questions have been correctly answered and none of the non critical have been answered, the App still renders the Class as Non Competent.  You can use the same spreadsheet that Nancy and Linda

[2020-04-27 22:10] anamariaelsal opened #358 "1.5.4 - Change label of Monitor Module"
Currently, the label of the Scores Chart Dashboard in the Monitor Module is stated as Quality of Care.
It has been requested to change it to: "Competency class" , to be aligned with the new classification schema.
Please take a look of the area where the change is required

![Monitor_module_label](https://user-images.githubusercontent.com/29080974/80425696-6a22d000-88a1-11ea-9c0b-7ec1c5ce2597.png)

[2020-04-27 22:20] anamariaelsal opened #359 "1.5.4 Remove Monitoring target from the Settings menu"
This option is no longer required.  Please remove from the Settings menu.  An image of the current settings is attached below to give more clarity to this request
![Settings_image](https://user-images.githubusercontent.com/29080974/80426398-d9e58a80-88a2-11ea-98f9-a1ca44ba2312.png)

[2020-04-29 09:00] cristinaelle commented on #358
We have also noticed that the label reports 'Last 6 months' when it's actually Last 5 months + Current month. Since you are changing the label, I suggest changing it to 'Competency Classes - 6 months'.

[2020-04-29 21:37] nancyespinoza opened #360 "1.5.4 Error in filter by Org Unit (Monitor module)"
| Description  |
| ------------- |
| Unable to filter by Organisation Unit in the monitor module. Error only occur when moving from "all surveys + all Org Units" to "Specific Org Unit"|

| How to replicate |
| ------------- |
|<ol><li>Go to monitor module (both filters, surveys and Org Units, must be in "all")</li><li>Filter by Org Unit (the screen does not change)</li><li>Now filter by Survey (th

[2020-05-25 12:27] cristinaelle commented on #358
I have also just noticed that we might want to lose A / B / C next to (C) / (CNI) / (NC). Not sure why we have A / B / C in this version, considering the Quality of care classes are nowhere. I know this trick might come in hands for 1.6 (still TBC); however, in 1.6, also, we might want to have either A / B / C or C / CNI / NC and not both because it really confuses users, above all when they'll tr

[2020-09-15 16:35] nancyespinoza opened #361 "1.6.0 Crash when changing the language"
| Description  |
| ------------- |
| The app crashes when clicking the back arrow after changing the language |
|<ul><li>server:https://data.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| ------------- |
|<ul><li>Click on the 3 dots menu of the right top of the screen</li><li>Select Settings</li><li>Select language.</li><li>Click on French or Khmer</li><li>Click on the back a

[2020-09-15 16:57] nancyespinoza opened #362 "1.6.0 Competency classes: wrong classification when all of the non-critical questions were unanswered."
| Description  |
| ------------- |
| Expected behavior: <li>All critical steps and (≥ 89.9% non-critical steps correct or none of the non-critical steps anwered) = Competent</li> |
| Actual behavior: <li>All critical steps and none of the non-critical steps anwered = Not Competent</li> |
|<ul><li>server:https://data.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| -------------

[2020-09-15 17:13] nancyespinoza opened #363 "1.6.0 Crash when refreshing metadata"
| Description  |
| ------------- |
| App stops when finishing the 'refresh metadata' process |
|<ul><li>server:https://data.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| ------------- |
|<ul><li>Click on the 3 dots menu of the right top of the screen</li><li>Select Refresh metadata</li></ul>|

| Video  |
| ------------- |
|![20200915111046](https://user-images.githubusercont

[2020-09-15 17:19] nancyespinoza opened #364 "1.6.0 Only in the first login - The app does not show the monitor Incomplete/Complete Actions screen"
| Description  |
| ------------- |
|  'Monitor module' in blank the first time user clicks on it|
|<ul><li>server:https://data.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| ------------- |
|<ul><li>Log in</li><li>Go to monitor module</li></ul>|

| Video  |
| ------------- |
|![20200915111759](https://user-images.githubusercontent.com/44774809/93243218-22fc8500-f745-11ea-9e66

[2020-09-15 17:26] nancyespinoza opened #365 "1.6.0 [|SCORING] - using A/B/C classification the app still shows the competency classification in the plan module"
| Description  |
| ------------- |
| When using the App with old Scoring (QoC),  in the three dots of the Plan Module, the information that is shown is Competency instead of QoC|
|<ul><li>server:https://data.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| ------------- |
|<ul><li>Go to plan module</li><li>Click on the three dot menu from any of the records</li><li>Check the in

[2020-09-17 08:31] ifoche commented on #364
Please @nancyespinoza could you provide us with the Android version and device you are using? Thanks!

[2020-09-17 09:25] ifoche commented on #362
Hi @nancyespinoza, I have the impression that this might be a misunderstanding in how each classification method should work. Could you please share the 2 matrix of classifications you are using for validation? (A/B/C and C/CNI/NC)

[2020-09-17 16:37] nancyespinoza commented on #362
|A/B/C| Score|
|--|--|
|A| Critical questions between 90%-100%|
|B| Crtical questions between 80% -89%|
|C| Critical questions between 0%-79%|

|C/CNI/NC| Score|
|-- | --|
|Competent | All critical questions correct AND (≥ 89.9% non critical questions correct OR none of the non-critical steps were answered)|
|Competent but needs improvement | All critical questions correct AND between 79.9% and <

[2020-09-17 16:46] nancyespinoza commented on #364
Device specifications:
Android 6.0.1, Model SM-N910H

[2020-09-29 19:14] ifoche commented on #364
@nancyespinoza could you re-test with the new release. Some modifications have been done to the layout, and we're unable to replicate the issue

[2020-10-05 18:14] nancyespinoza opened #366 "1.6.1 Unable to scroll to complete activities in the monitor module"
| Description  |
| ------------- |
| In the monitor module, if the actions in the action plan are too long, the "ok" and "cancel" button are hidden|
|<ul><li>server:https://data.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| ------------- |
|<ul><li>Go to monitor module</li><li>Click on the three dot menu from any of the incomplete action plans</li><li>User is unable to scrol

[2020-10-05 18:36] nancyespinoza commented on #361
Fix in 1.6.1

[2020-10-05 18:37] nancyespinoza commented on #362
Fix in 1.6.1

[2020-10-05 18:46] nancyespinoza commented on #363
Fix in 1.6.1

[2020-10-05 18:47] nancyespinoza commented on #364
Fix in 1.6.1

[2020-10-05 23:29] nancyespinoza opened #367 "1.6.1 Error in scoring when all the critical and non-critical questions answered are correct"
| Description  |
| ------------- |
| In the list HNQIS FP Long-Acting method, the competency class is incorrect. Even though all critical and non-critical questions are correct the competency class is "Not Competent". I couldn't replicate this behavior in other lists.|
|<ul><li>server:https://data.psi-mis.org/</li><li>User:KEdemo1</li></ul>|

| How to replicate |
| ------------- |
|<ul><li>Import

[2020-10-06 07:02] EyeSeeTeaBotTest opened #368 "I don't see a vidéo"
## User Report
I don't see a video

## ScreenShot
![file](https://raw.githubusercontent.com/EyeSeeTeaBotTest/snapshots/master/android_screenshot1290158755865702583.jpg)
## Device Info
[code]

[2020-11-25 08:19] #308 closed

[2020-11-25 08:19] #310 closed

[2020-11-25 08:19] #328 closed

[2020-11-25 08:19] #329 closed

[2020-11-25 08:19] #332 closed

[2020-11-25 08:19] #333 closed

[2020-11-25 08:19] #327 closed

[2020-11-25 08:19] #318 closed

[2020-11-25 08:19] #347 closed

[2020-11-25 08:19] #352 closed

[2020-11-25 08:20] #356 closed

[2020-11-25 08:20] #325 closed

[2020-11-25 08:20] #357 closed

[2020-11-25 08:20] #365 closed

[2020-11-25 08:20] #363 closed

[2020-11-25 08:20] #361 closed

[2020-11-25 08:20] #364 closed

[2020-11-25 08:20] #362 closed

[2020-11-25 08:22] #193 closed

[2020-11-25 08:22] #231 closed

[2020-11-25 08:22] #263 closed

[2020-11-25 08:22] #286 closed

[2020-11-25 08:22] #292 closed

[2020-11-25 08:22] #298 closed

[2020-11-25 08:22] #299 closed

[2020-11-25 08:22] #320 closed

[2020-11-25 08:22] #307 closed

[2020-11-25 08:22] #326 closed

[2020-11-25 08:22] #322 closed

[2020-11-25 08:22] #334 closed

[2020-11-25 08:24] ifoche opened #369 "error message when required authority is not present"
error message when trying to login when the user does not have the authority "F_IGNORE_TRACKER_REQUIRED_VALUE_VALIDATION"

[2020-11-25 16:31] esunly commented on #322
Hi @ifoche

Can you please clarify if this issue is related with the HNQIS app or with the tablet itself? If related with the app, can this be fixed?

Many thanks,
Esunly

[2020-11-26 10:10] ifoche commented on #369
@nancyespinoza what should we do with current logged users? Shall we logout them if they don't have the authority? Shall we show a dialog reading "You don't have a required authority, please contact your administrator" or something like that?

[2020-11-30 21:51] nancyespinoza commented on #369
I think a pop-up message should work  ("You don't have a required authority, please contact your administrator" looks good to me). @rodmelia what do you think?

[2020-11-30 21:57] nancyespinoza opened #370 "Error message when installing an APK"
We have notice that if we install a new APK without uninstalling the previous app, the new app crashes a lot. I'm assuming this is not a bug but to avoid these type of errors, is it possible to add an error message not allowing the user to install the APK until the old one is uninstalled?

[2020-12-01 08:45] ifoche commented on #370
Hi @nancyespinoza . If the app's crashing when you install a new version, that's perfectly a bug. There are migrations of the DB between one version and the next one, and theoretically they should have been automatically managed by the app. In order to properly replicate this issue...would you  know which version you were coming from and which new version you were installing?

If you could also de

[2020-12-14 12:52] rodmelia commented on #369
Final implementation
- at login
- just before sending survey

"You don't have HNQIS user role - please contact your administrator"

[2020-12-14 12:53] rodmelia commented on #369
No need to log-off the user

[2020-12-14 12:57] rodmelia commented on #370
@nancyespinoza  - could you please confirm that the issue is:
1.4.7 --> 1.6.X

Ignacio - start working on this, even if Nancy doesn't reply

[2020-12-14 12:58] rodmelia commented on #370
@nancyespinoza - could you confirm where are the crashes happening?

[2020-12-14 14:41] nancyespinoza commented on #370
Hi @ifoche the crash happened from 1.6.2 (dev) to 1.6.3 (dev)

Steps to replicate:
1. Install 1.6.2
2. Without unistalling the previous apk, install 1.6.3
3. Open the new app, and login (KEdemo1, Kenyademo1! for example). After clicking the "log in" button, the app crashes.

[2020-12-22 09:02] ifoche commented on #370
@nancyespinoza could you please let us know which device and exact OS are you using for this test?

Thanks in advance

[2020-12-28 11:12] ifoche commented on #370
@nancyespinoza we're not able to reproduce this error from 1.6.2 to 1.6.3. The problem is, however, from 1.4.7 to 1.6.3 perfectly replicable, so we've fixed that one. Please if there's anything else that could give us any clue to understand the other use case, we will really appreciate it.

[2021-01-10 18:11] nancyespinoza commented on #369
### **A. Error message at login- Fail**
The message is showing but the problem is that if you logout or cancel the login and then you change the server (same user) the app keeps showing the message. The reverse is also happening, meaning that if I log in with a user that have the role, log out, and then login with a user that does not have the role, the app let me login but shows the message when

[2021-01-10 18:23] #370 closed

[2021-01-10 18:28] #367 closed

[2021-01-10 18:36] #366 closed

[2021-01-10 18:37] #354 closed

[2021-01-10 18:38] #358 closed

[2021-01-10 18:39] #359 closed

[2021-01-10 18:40] #360 closed

[2021-02-15 19:29] nancyespinoza opened #371 "1.6.4 Unable to login to https://sm-dev.hnqis.org/"
All the following users have the expected authorities and are able to login using 1.6.3:

- JLdemo1 (Jubalanddemo1!)
- PLdemo1 (Puntlanddemo1!)
- SMdemo1 (Somalilanddemo1!)

With 1.6.4 the app never stops loading. If you exit and re-open the app, the user is able to login but the lists are not shown.

[2021-02-15 20:38] nancyespinoza commented on #371
Hi @ifoche,

One question, the app looks for the authority or for the ID of the role?

[2021-02-16 12:02] #345 closed

[2021-02-16 12:03] rodmelia commented on #355
@nancyespinoza - could you please confirm that this is still a valid issue?

[2021-02-16 12:06] rodmelia commented on #368
@nancyespinoza  - is this still valid ?

[2021-02-16 12:08] #321 closed

[2021-02-16 12:08] #331 closed

[2021-02-16 15:58] nancyespinoza commented on #368
It looks like this is not happening for all the devices. For example, I replicated it with android 11 (Pixel 2) but not with an android 9 (Samsung note 8)

[2021-02-16 16:20] nancyespinoza opened #372 "1.6.4 Update error message for missing role"
Please change the message to "HNQIS user role not enabled. Please contact your administrator."

[2021-02-18 22:05] nancyespinoza opened #373 "1.6.4 Question - videos in action plan"
1. Should the videos appear in the action plan, it make it look that they have a correct-incorrect answer. How does a question end up in the action plan?
![Screenshot_20210218-160452](https://user-images.githubusercontent.com/44774809/108427665-25d33880-7203-11eb-8e1a-932a0c38809e.png)

[2021-02-18 22:09] nancyespinoza opened #374 "1.6.4 Error in survey conversion"
Some lists are presenting this issue, we are not sure why is showing or how to solve it.
![2021-02-09_15-32-43](https://user-images.githubusercontent.com/44774809/108427905-721e7880-7203-11eb-8523-f6904073f612.png)

You can test using the following credentials
ETdemo1 (Ethiopiademo1!)

[2021-02-18 22:59] nancyespinoza commented on #355
@rodmelia
The issue remains in the previous version of the app:
https://apps.psi-mis.org/hnqis/feedback?eventId=QJPo13MbUJ1&server=https://data.psi-mis.org/

But no longer in the dev one
https://apps.psi-mis.org/hnqis-dev/feedback?eventId=QJPo13MbUJ1&server=https://data.psi-mis.org/

[2021-02-26 08:55] ifoche commented on #355
thanks @nancyespinoza closing the issue according to your comment

[2021-02-26 08:55] #355 closed

[2021-02-26 09:01] ifoche commented on #368
ok @nancyespinoza thanks for reporting. Our first guest is that it will probably more related to the Android version than the device itself. We will have a look and let you know asap.

[2021-02-26 09:04] ifoche commented on #369
Was implemented in the latest release

[2021-02-26 09:07] ifoche commented on #373
Videos have never been represented in the action plan, they only appear in the feedback. So in case we want it, it would be a new feature. Do you need us to estimate that?

[2021-02-26 09:12] ifoche commented on #374
@nancyespinoza a first guess would be that the program might not have the obs&act plans associated to it, but in order to investigate it further, could you please confirm that:
1. The error happens when you complete an obs and action plan
2. The server where that's happening

Thank you!

[2021-02-26 16:52] nancyespinoza commented on #373
Hi Ignacio!
Then is it a bug? We were wondering why the action plan is showing the titles of the videos in the "non-critical steps missed".

Thanks for your help

[2021-02-26 16:54] nancyespinoza commented on #371
HI @ifoche,

Is this a possible bug to fix in the next version?

Thank you

[2021-02-26 18:20] ifoche commented on #373
The feedback and the non-critical steps missed should only be reading the DE type Composite Scores. I guess there are DEs of that type with that name in the program? Could that be the case?

[2021-02-26 18:20] ifoche commented on #371
oh, I missed this one, I'll let you know about it on Monday

[2021-03-24 22:35] ifoche commented on #374
Sorry @nancyespinoza but we cannot replicate the error message with that user. Anything else that could give us a clue? Are you still able to replicate the issue?

[2021-03-24 22:45] ifoche commented on #368
It looks like it would require the upgrade release that we discussed some time ago with @rodmelia . We move it to backlog so you can decide how to proceed with that release, or maybe higher levels of Android don't need to be covered for videos right now.

[2021-04-07 19:32] #373 closed

[2021-04-07 19:34] #368 closed

[2021-04-07 19:39] #371 closed

[2021-04-07 19:44] #372 closed

[2021-04-07 19:46] #369 closed

[2021-04-30 09:48] ifoche opened #375 "Random crashes"
Random crashes on 1.6.5

Model: Moto G Power (Motorola Model)

Operating System: Android Version 10

Hardware: Advanced system, RAM Size 4GB, ROM Size 64GB

keeps getting the same error

[2021-04-30 09:48] ifoche commented on #375
![hnqis_crashes](https://user-images.githubusercontent.com/10931645/116678781-06e2e680-a9aa-11eb-8851-fe5301cd961a.jpg)

[2021-05-03 16:57] ifoche opened #376 "Crashlytics firebase estimation"
Estimate the introduction of free Crashlytics firebase account in HNQIS apps, including in the reports the following information:
- user
- server
- compilation git hash

[2021-05-05 11:49] ifoche commented on #376
After some tests we strongly believe that an update of all the apps (and particularly of the DB management system) won't be necessary, so we could basically fit in the margin of 30-40h of estimation to implement this work.

Basically the work to be performed here would be:
- To migrate the code to Android X so it is compatible with firebase crashlytics SDK
- To fix all the errors that will appear

[2021-05-11 18:01] nancyespinoza opened #377 "Change URL for "HNQIS learning center""
A new URL has been requested when clicking on the HNQIS Learning center in the 3 dot menu.

URL: https://psiorg.sharepoint.com/sites/DigitalHealth/SitePages/HNQIS-Learning-Center.aspx

[2021-05-11 18:08] nancyespinoza opened #378 "Should Pie chart labels change according to the server?"
I have noticed that if the server allows to use competency the monitor module change the labels to C, CNI and NC but in the pie chart it keeps A(C), B(CNI), C(NC). Is this the expected behavior or should the app display only the competency labels?

[2021-05-12 09:20] ifoche commented on #378
@nancyespinoza Right now it is like that, but we could change the label into only C, CNI and NC if that looks better for you

[2021-05-14 15:47] nancyespinoza commented on #378
Hi @ifoche! Thank you for your quick response. After discussing with Rodolfo, yes we should change the labels but make it dynamic. When the server allows competency class, show C, CNI and NC and if the server is working with the ABC scoring then show A, B, and C.

[2021-07-01 15:49] #378 closed

[2021-07-01 15:49] #377 closed

[2021-07-01 16:16] ifoche opened #379 "Send same properties added to crashlytics events to analytics (creating also the events in the app)"

[2021-07-01 16:21] ifoche opened #380 "Test all API endpoints are answering compatible responses in 2.36"
Test with:
https://236data.psi-mis.org/

[2021-08-02 16:28] ifoche opened #381 "Investigate how bundleing will affect HNQIS packaging system"

[2021-08-02 16:29] ifoche opened #382 "Top crashes investigation"

[2021-08-02 16:36] ifoche opened #383 "Crashes without user/server keys investigation"

[2021-10-08 16:29] ifoche opened #384 "Prepare app for bundleing"
Create the infrastructure to use the new bundleing publication method

[2021-11-01 16:54] #375 closed

[2021-11-01 17:05] ifoche opened #385 "Release to GPlay"

[2021-11-01 17:14] ifoche commented on #385
15 Nov: APK to be released in GPlay

[2021-12-01 15:42] ifoche opened #386 "Study top 10 crashes"

[2021-12-01 15:54] ifoche opened #387 "Investigate analytics dashboard to check why disaggregated numbers don't seem to be the same as the total numbers"

[2022-02-09 16:17] ifoche opened #388 "fix DB export on API level higher than 28 (Android 10+)"

[2022-03-07 18:13] nancyespinoza opened #389 "Videos not available"
Test credentials:
URL - [https://data.psi-mis.org]()
User - ETdemo1
Password - Ethiopiademo1!
Program - ET HNQIS Family Planning Counseling

<img width="163" alt="image" src="https://user-images.githubusercontent.com/44774809/157093295-a723b0cd-fa1d-41f1-a4cc-40a3911a6bc7.png">

[2022-07-08 11:11] ifoche opened #390 "HNQIS 1.6 not syncing in Alcatel 3T8"

[2022-07-08 11:14] ifoche commented on #390
@nancyespinoza copying here the description of the problem:
"Hace unos días nos llegó un ticket de un chico de Angola que nos comentaba que tenía ciertas tablets que no estaban sincronizando correctamente (alrededor de unas 30). El equipo ha hecho varias pruebas y ya descartamos que sea un problema de configuración de programa o usuario. Lo que nos lleva a preguntarnos si existe alguna posibilidad

[2022-07-08 20:24] nancyespinoza commented on #390
Hi Ignacio.

They are able to login but once they complete an assessment, the app never push the data into the server.

They tested the new apk yesterday (7th)  in two different servers using the "AOdemo1" user
1. https://old-dev.psi-mis.org/
2. https://ao-dev.hnqis.org/

[2022-07-18 10:00] rodmelia commented on #390
Hi Nancy - is there an update on this one?

R

On Fri, 8 Jul 2022 at 21:24, nancyespinoza ***@***.***> wrote:

[2022-07-19 08:29] ifoche commented on #390
@nancyespinoza if they are being able to login, then they should be able to enter the settings, activate the developers options and export their database. Could you please ask them to do it and send us those DBs?

[2022-10-03 16:37] ifoche opened #392 "Do not round overall score but round all other scores"

[2022-10-03 16:50] ifoche opened #393 "outdated background services"